# NASS QuickStats data 

<br> Glossary: [here](https://quickstats.nass.usda.gov/src/glossary.pdf)

### <B> This notebook explains step by step detailed process behind the cleaning of the NASS QuickStats data.

# DATA CLEANING

In [2]:
#import packages

import csv
import numpy as np
import pandas as pd
from datetime import date 
from datetime import datetime

In [3]:
#get an overview of the dataset by limiting records by 20000

data = pd.read_csv("data/qs.crops_20200429.txt", nrows=20000, sep='\t')
data.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
0,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,ALABAMA,2009,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,820,NaN
1,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,ARKANSAS,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,(D),(D)
2,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,CALIFORNIA,2009,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,"10,922",NaN
3,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,CALIFORNIA,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,885,7.4
4,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,COLORADO,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,(D),(D)

### 1. Data Chunking

In [4]:
# step1.dividing data into chunks 
# step2. filtering out data before 1990

file_path = 'data/qs.crops_20200429.txt'
chunksize = 1000
df_chunks = []

for df in pd.read_csv(file_path, chunksize=chunksize, iterator=True, sep='\t',low_memory=False ):
    df_f = df.loc[(df['YEAR']>=1990)]
    df_chunks.append(df_f)
    #print(df_chunks)
master_df = pd.concat(df_chunks)
print(master_df.head())

  SOURCE_DESC SECTOR_DESC    GROUP_DESC            COMMODITY_DESC  \
0      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
1      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
2      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
3      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
4      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED

              CLASS_DESC       PRODN_PRACTICE_DESC UTIL_PRACTICE_DESC  \
0  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
1  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
2  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
3  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
4  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS

  STATISTICCAT_DESC UNIT_DESC  \
0             SALES      POTS
1             SALES      POTS
2             SALES      POTS
3             SALES      POTS
4             SALES      POTS

                                          SHORT_DESC  ... LOCATION_DESC  YEAR  \
0  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...       ALABAMA  2009
1  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...      ARKANSAS  2014
2  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...    CALIFORNIA  2009
3  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...    CALIFORNIA  2014
4  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...      COLORADO  2014

  FREQ_DESC  BEGIN_CODE  END_CODE REFERENCE_PERIOD_DESC WEEK_ENDING  \
0    ANNUAL           0         0                  YEAR         NaN
1    ANNUAL           0         0                  YEAR         NaN
2    ANNUAL           0         0                  YEAR         NaN
3    ANNUAL           0         0                  YEAR         NaN
4    ANNUAL           0         0                  YEAR         NaN

             LOAD_TIME   VALUE  CV_%
0  2015-01-31 00:00:00     820   NaN
1  2015-01-31 00:00:00     (D)   (D)
2  2015-01-31 00:00:00  10,922   NaN
3  2015-01-31 00:00:00     885   7.4
4  2015-01-31 00:00:00     (D)   (D)

[5 rows x 39 columns]

### 2. Data Profiling

Data profiling is the process of reviewing source data, understanding structure, content and interrelationships, and identifying potential for data projects

In [14]:
master_df.shape

(12525241, 39)

In [15]:
master_df.columns

Index(['SOURCE_DESC', 'SECTOR_DESC', 'GROUP_DESC', 'COMMODITY_DESC',
       'CLASS_DESC', 'PRODN_PRACTICE_DESC', 'UTIL_PRACTICE_DESC',
       'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC', 'DOMAIN_DESC',
       'DOMAINCAT_DESC', 'AGG_LEVEL_DESC', 'STATE_ANSI', 'STATE_FIPS_CODE',
       'STATE_ALPHA', 'STATE_NAME', 'ASD_CODE', 'ASD_DESC', 'COUNTY_ANSI',
       'COUNTY_CODE', 'COUNTY_NAME', 'REGION_DESC', 'ZIP_5', 'WATERSHED_CODE',
       'WATERSHED_DESC', 'CONGR_DISTRICT_CODE', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'BEGIN_CODE', 'END_CODE',
       'REFERENCE_PERIOD_DESC', 'WEEK_ENDING', 'LOAD_TIME', 'VALUE', 'CV_%'],
      dtype='object')

In [16]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12525241 entries, 0 to 19151492
Data columns (total 39 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SOURCE_DESC            object
 1   SECTOR_DESC            object
 2   GROUP_DESC             object
 3   COMMODITY_DESC         object
 4   CLASS_DESC             object
 5   PRODN_PRACTICE_DESC    object
 6   UTIL_PRACTICE_DESC     object
 7   STATISTICCAT_DESC      object
 8   UNIT_DESC              object
 9   SHORT_DESC             object
 10  DOMAIN_DESC            object
 11  DOMAINCAT_DESC         object
 12  AGG_LEVEL_DESC         object
 13  STATE_ANSI             float64
 14  STATE_FIPS_CODE        int64
 15  STATE_ALPHA            object
 16  STATE_NAME             object
 17  ASD_CODE               float64
 18  ASD_DESC               object
 19  COUNTY_ANSI            float64
 20  COUNTY_CODE            float64
 21  COUNTY_NAME            object
 22  REGION_DESC            object
 23  ZIP_5                  float64
 24  WATERSHED_CODE         int64
 25  WATERSHED_DESC         object
 26  CONGR_DISTRICT_CODE    float64
 27  COUNTRY_CODE           int64
 28  COUNTRY_NAME           object
 29  LOCATION_DESC          object
 30  YEAR                   int64
 31  FREQ_DESC              object
 32  BEGIN_CODE             int64
 33  END_CODE               int64
 34  REFERENCE_PERIOD_DESC  object
 35  WEEK_ENDING            object
 36  LOAD_TIME              object
 37  VALUE                  object
 38  CV_%                   object
dtypes: float64(6), int64(6), object(27)
memory usage: 3.7+ GB

In [20]:
# helps understanding the numerical variables, but as we could most of the variables are categorical variables, 
#we could check for them individually

master_df.describe()

,STATE_ANSI,STATE_FIPS_CODE,ASD_CODE,COUNTY_ANSI,COUNTY_CODE,ZIP_5,WATERSHED_CODE,CONGR_DISTRICT_CODE,COUNTRY_CODE,YEAR,BEGIN_CODE,END_CODE
count,1.214641e+07,1.252524e+07,6.487599e+06,5.815096e+06,6.073360e+06,1.185499e+06,1.252524e+07,0.0,1.252524e+07,1.252524e+07,1.252524e+07,1.252524e+07
mean,3.046896e+01,3.217933e+01,4.871341e+01,9.169581e+01,1.294357e+02,5.120971e+04,3.003955e+04,NaN,9.000000e+03,2.008361e+03,5.194742e+00,5.194661e+00
std,1.490020e+01,1.845344e+01,2.611076e+01,8.309892e+01,1.985341e+02,2.481194e+04,6.223671e+05,NaN,5.361145e-02,7.935195e+00,1.162040e+01,1.162050e+01
min,1.000000e+00,0.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00,1.001000e+03,0.000000e+00,NaN,9.000000e+03,1.990000e+03,0.000000e+00,0.000000e+00
25%,1.900000e+01,1.900000e+01,3.000000e+01,3.300000e+01,3.500000e+01,3.107200e+04,0.000000e+00,NaN,9.000000e+03,2.002000e+03,0.000000e+00,0.000000e+00
50%,3.000000e+01,3.100000e+01,5.000000e+01,7.500000e+01,7.700000e+01,5.230200e+04,0.000000e+00,NaN,9.000000e+03,2.009000e+03,0.000000e+00,0.000000e+00
75%,4.200000e+01,4.500000e+01,7.000000e+01,1.250000e+02,1.330000e+02,6.884500e+04,0.000000e+00,NaN,9.000000e+03,2.016000e+03,0.000000e+00,0.000000e+00
max,5.600000e+01,9.900000e+01,9.900000e+01,8.100000e+02,9.990000e+02,9.999900e+04,2.008000e+07,NaN,9.030000e+03,2.020000e+03,5.300000e+01,5.300000e+01

In [21]:
# for categorical variables it can be done individually to find the statistics

master_df.AGG_LEVEL_DESC.describe()

count     12525241
unique          10
top         COUNTY
freq       6048978
Name: AGG_LEVEL_DESC, dtype: object

In [22]:
master_df.COMMODITY_DESC.describe()

count     12525241
unique         226
top          WHEAT
freq       1485467
Name: COMMODITY_DESC, dtype: object

In [23]:
master_df.STATISTICCAT_DESC.describe()

count           12525241
unique               124
top       AREA HARVESTED
freq             3986713
Name: STATISTICCAT_DESC, dtype: object

In [24]:
# in order to understand each category individually
#get an overview of data commodity to filter out crops

master_df['AGG_LEVEL_DESC'].unique()

array(['STATE', 'NATIONAL', 'COUNTY', 'AGRICULTURAL DISTRICT',
       'AMERICAN INDIAN RESERVATION', 'INTERNATIONAL', 'WATERSHED',
       'REGION : MULTI-STATE', 'REGION : SUB-STATE', 'ZIP CODE'],
      dtype=object)

In [8]:
master_df['COMMODITY_DESC'].unique()

array(['FLOWERING PLANTS, POTTED', 'BARLEY', 'BEANS', 'CANOLA', 'COFFEE',
       'CORN', 'COTTON', 'FLAXSEED', 'HAY & HAYLAGE', 'HAY', 'HOPS',
       'LENTILS', 'MAPLE SYRUP', 'MILLET', 'MUSTARD', 'OATS', 'PEANUTS',
       'PEAS', 'POTATOES', 'RAPESEED', 'RICE', 'RYE', 'SAFFLOWER',
       'SORGHUM', 'SOYBEANS', 'SUGARBEETS', 'SUNFLOWER', 'SWEET POTATOES',
       'TARO', 'TOBACCO', 'WHEAT', 'ARTICHOKES', 'ASPARAGUS', 'BROCCOLI',
       'BRUSSELS SPROUTS', 'CABBAGE', 'CAULIFLOWER', 'CELERY',
       'SWEET CORN', 'PICKLES', 'GARLIC', 'GINGER ROOT', 'GREENS', 'OKRA',
       'ONIONS', 'PEPPERS', 'PUMPKINS', 'RADISHES', 'SQUASH',
       'STRAWBERRIES', 'APPLES', 'APRICOTS', 'BOYSENBERRIES',
       'RASPBERRIES', 'CHERRIES', 'GRAPES', 'ALMONDS', 'PISTACHIOS',
       'WALNUTS', 'PAPAYAS', 'PEACHES', 'GRAPEFRUIT', 'K-EARLY CITRUS',
       'LEMONS', 'LIMES', 'ORANGES', 'TEMPLES', 'TANGELOS', 'TANGERINES',
       'FEED GRAINS & HAY', 'CROPS, OTHER', 'FOOD GRAINS',
       'FRUIT & TREE NUT TOTALS', 'OIL-BEARING CROPS',
       'POTATOES & DRY BEANS', 'VEGETABLE TOTALS', 'MUSHROOMS', 'BANANAS',
       'BLACKBERRIES', 'BLUEBERRIES', 'CANEBERRIES', 'CRANBERRIES',
       'LOGANBERRIES', 'GUAVAS', 'MACADAMIAS', 'PECANS',
       'BULBS & CORMS & RHIZOMES & TUBERS', 'BERRY TOTALS',
       'BEDDING PLANTS, HERBACEOUS PERENNIAL', 'HAYLAGE', 'HAZELNUTS',
       'BEETS', 'EGGPLANT', 'ESCAROLE & ENDIVE', 'MELONS', 'AVOCADOS',
       'DATES', 'FIGS', 'NON-CITRUS FRUIT & TREE NUTS TOTALS',
       'KIWIFRUIT', 'NECTARINES', 'OLIVES', 'PEARS', 'PINEAPPLES',
       'PLUMS & PRUNES', 'PLUMS', 'PRUNES', 'LETTUCE', 'LEGUMES',
       'PROPAGATIVE MATERIAL', 'CROP TOTALS', 'AMARANTH', 'BUCKWHEAT',
       'CRAMBE', 'FIELD CROPS, OTHER', 'EMMER & SPELT', 'GRAIN', 'GUAR',
       'JOJOBA', 'LOTUS ROOT', 'SESAME', 'SUGARCANE', 'SWEET RICE',
       'TRITICALE', 'WILD RICE', 'FRUIT & TREE NUTS, OTHER',
       'CITRUS TOTALS', 'CITRUS, OTHER', 'KUMQUATS', 'TRANSPLANTS',
       'SHORT TERM WOODY CROPS', 'CUT CULTIVATED GREENS',
       'DECIDUOUS SHRUBS', 'BERRIES, OTHER', 'CUT CHRISTMAS TREES',
       'CURRANTS', 'MANGOES', 'NON-CITRUS TOTALS', 'NON-CITRUS, OTHER',
       'PASSION FRUIT', 'PERSIMMONS', 'POMEGRANATES', 'CHESTNUTS',
       'TREE NUT TOTALS', 'TREE NUTS, OTHER', 'HORTICULTURE TOTALS',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY CROPS',
       'BEDDING PLANTS, ANNUAL', 'BEDDING PLANT TOTALS',
       'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE TOTALS',
       'FLORICULTURE, OTHER', 'FRUIT TOTALS', 'MUSHROOM SPAWN',
       'TOMATOES', 'NURSERY, OTHER', 'NURSERY TOTALS', 'AQUATIC PLANTS',
       'FLOWER SEEDS', 'SOD', 'VEGETABLE SEEDS', 'CARROTS', 'CHICORY',
       'CUCUMBERS', 'DAIKON', 'GINSENG', 'HORSERADISH', 'PARSLEY',
       'PIMIENTOS', 'RHUBARB', 'SPINACH', 'DECIDUOUS SHADE TREES',
       'TURNIPS', 'VEGETABLES, MIXED', 'VEGETABLES, OTHER', 'WATERCRESS',
       'POPCORN', 'OIL', 'MINT', 'CAKE & MEAL', 'CRUDE PINE GUM',
       'GOOSEBERRIES', 'CUT FLOWERS', 'GRAIN STORAGE CAPACITY', 'HERBS',
       'FIELD CROP TOTALS', 'FRUIT, OTHER', 'MILLFEED',
       'FRUIT & NUT PLANTS', 'FLOUR', 'PEAS & CARROTS', 'DILL',
       'ALCOHOL COPRODUCTS', 'GRASSES', 'GRASSES & LEGUMES TOTALS',
       'GRASSES & LEGUMES, OTHER', 'PASTURELAND', 'ORCHARDS',
       'SMALL GRAINS', 'PEAS & LENTILS', 'HORTICULTURE, OTHER',
       'FOOD CROP TOTALS', 'FOLIAGE PLANTS', 'FOOD CROP, OTHER',
       'WOODY ORNAMENTALS & VINES, OTHER', 'PALMS', 'ORNAMENTAL GRASSES',
       'EVERGREENS, CONIFEROUS', 'EVERGREENS, BROADLEAF', 'CAMELINA',
       'DECIDUOUS FLOWERING TREES', 'BAREROOT HERBACEOUS PERENNIALS',
       'PLUM-APRICOT HYBRIDS', 'MISCANTHUS', 'SWITCHGRASS',
       'PACKING FACILITY', 'FEED GRAINS', 'FIELDWORK', 'SOIL', 'SNOW',
       'CACTI & SUCCULENTS', 'CHERIMOYAS', 'ARONIA BERRIES',
       'ELDERBERRIES', 'CHICKPEAS', 'COLD STORAGE CAPACITY'], dtype=object)

In [25]:
master_df['STATISTICCAT_DESC'].unique()

array(['SALES', 'AREA HARVESTED', 'AREA PLANTED, NET', 'PRICE RECEIVED',
       'AREA PLANTED', 'PRODUCTION', 'YIELD', 'GINNED BALES',
       'PRICE RECEIVED, ADJUSTED BASE', 'PRICE RECEIVED, PARITY', 'TAPS',
       'SUCROSE', 'SHRINK', 'STOCKS',
       'INDEX FOR PRICE RECEIVED, 1910 - 1914',
       'INDEX FOR PRICE RECEIVED, 1990 - 1992', 'WATER APPLIED',
       'AREA IN PRODUCTION', 'AREA NOT HARVESTED', 'AREA BEARING',
       'AREA NON-BEARING', 'INVENTORY', 'BOLL COUNT',
       'SALES IN ORGANIC MARKETS', 'SALES IN CONVENTIONAL MARKETS',
       'RELATIVE WEIGHT', 'PRICE RECEIVED, 3 YEAR AVG', 'CAPACITY',
       'LOSS', 'CRUSHED', 'EAR COUNT', 'POD COUNT', 'DISAPPEARANCE',
       'MILLING CAPACITY', 'USAGE', 'STOCKS, CURRENT YEAR',
       'STOCKS, PREVIOUS YEAR', 'FACILITIES', 'RATIO', 'CAPTURED',
       'LENGTH OF SEASON, AVG', 'CONDITION', 'START DATE, AVG',
       'END DATE, AVG', 'AREA', 'AREA GROWN',
       'AREA BEARING & NON-BEARING', 'AREA FILLED', 'MILLED',
       'DISTRIBUTION', 'OPERATIONS', 'INDEX FOR PRICE RECEIVED, 2011',
       'PROGRESS, 5 YEAR AVG', 'PROGRESS', 'DAMAGE', 'INFESTATION',
       'DAYS SUITABLE', 'START DATE', 'MOISTURE', 'HEIGHT, AVG',
       'MOVEMENT', 'AVAILABILITY', 'ACTIVITY', 'ACCESSIBILITY',
       'SUPPLIES', 'DAMAGE, PREVIOUS YEAR', 'INFESTATION, PREVIOUS YEAR',
       'DAYS SUITABLE, PREVIOUS YEAR', 'PROGRESS, PREVIOUS YEAR',
       'MOISTURE, PREVIOUS YEAR', 'CONDITION, PREVIOUS YEAR',
       'HEIGHT, AVG, PREVIOUS YEAR', 'MOVEMENT, PREVIOUS YEAR',
       'AVAILABILITY, PREVIOUS YEAR', 'ACTIVITY, PREVIOUS YEAR',
       'ACCESSIBILITY, PREVIOUS YEAR', 'SAMPLES', 'ACTIVE GINS',
       'SUPPLIES, PREVIOUS YEAR', 'DAMAGE, 5 YEAR AVG',
       'CONDITION, 5 YEAR AVG', 'MOISTURE, 5 YEAR AVG',
       'HEIGHT, AVG, 5 YEAR AVG', 'MOVEMENT, 5 YEAR AVG',
       'AVAILABILITY, 5 YEAR AVG', 'ACTIVITY, 5 YEAR AVG',
       'ACCESSIBILITY, 5 YEAR AVG', 'SUPPLIES, 5 YEAR AVG',
       'HARVEST LOSS', 'FRUIT SIZE', 'FRUIT SIZE, PREVIOUS YEAR',
       'FRUIT SIZE, 5 YEAR AVG', 'NUT SET, 5 YEAR AVG', 'NUT SET',
       'NUT SET, PREVIOUS YEAR', 'PLANT POPULATION', 'ROW WIDTH',
       'START DATE, 5 YEAR AVG', 'SEED FOR PLANTING', 'OTHER SALE',
       'MILL SALE', 'COVER, PREVIOUS YEAR', 'DEPTH, AVG, PREVIOUS YEAR',
       'START DATE, PREVIOUS YEAR', 'BLOOM DATE', 'AREA FLOODED',
       'DEPTH, AVG', 'COVER', 'REMOVAL FOR PROCESSING, INEDIBLE USE',
       'REMOVAL FOR PROCESSING', 'REMOVAL FOR PROCESSING, EDIBLE USE',
       'PROCESSED IN LAB', 'PRICE RECEIVED AFTER REPORT',
       'PRICE REACTION, DECREASE', 'PRICE REACTION, INCREASE',
       'PRICE REACTION, NO CHANGE', 'PRICE REACTION',
       'PRICE RECEIVED PRIOR TO CLOSING', 'START DATE, MIN',
       'END DATE, MAX', 'HEAD COUNT', 'AREA CERTIFIED', 'TOTAL AREA',
       'WAREHOUSES'], dtype=object)

### 3. Data Filtering
Data filtering is the process of choosing a smaller part of your data set and using that subset for viewing or analysis

In [10]:
#filtering out the required crop type

crops = ['WHEAT', 'RICE','COTTON','CORN','SOYBEANS']
master_df.COMMODITY_DESC.isin(crops)
filter_crops= master_df[master_df.COMMODITY_DESC.isin(crops)]
filter_crops.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [26]:
#area planted, area harvested, yield and production by crop

category = ['AREA PLANTED','AREA HARVESTED','PRODUCTION','YIELD']
filter_crops.STATISTICCAT_DESC.isin(category)

filter_category= filter_crops[filter_crops.STATISTICCAT_DESC.isin(category)]
filter_category.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [27]:
#only county level data

region = ['COUNTY']
filter_category.AGG_LEVEL_DESC.isin(region)

filter_region= filter_category[filter_category.AGG_LEVEL_DESC.isin(region)]
filter_region.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [28]:
#cleaning specific columns and rows to ensure the count of rows are same
filter_region.shape

(1870368, 39)

### 4.Data Restructuring and Data Munging 

#### Selecting, Dropping, Renaming and Sorting columns from pandas dataframe

In [29]:
# At this point in the cleaning process, the columns are same as original

list_cols=[]
list_cols=list(filter_region)
for cols in list_cols:
    print( cols,':',  filter_region[cols].unique())

SOURCE_DESC : ['SURVEY' 'CENSUS']
SECTOR_DESC : ['CROPS']
GROUP_DESC : ['FIELD CROPS']
COMMODITY_DESC : ['CORN' 'COTTON' 'RICE' 'SOYBEANS' 'WHEAT']
CLASS_DESC : ['ALL CLASSES' 'PIMA' 'UPLAND' 'SPRING, DURUM' 'SPRING, (EXCL DURUM)'
 'WINTER' 'TRADITIONAL OR INDIAN']
PRODN_PRACTICE_DESC : ['IRRIGATED' 'NON-IRRIGATED' 'ALL PRODUCTION PRACTICES'
 'FOLLOWING ANOTHER CROP (DOUBLE CROPPED)' 'NOT FOLLOWING ANOTHER CROP'
 'NON-IRRIGATED, FOLLOWING SUMMER FALLOW' 'NON-IRRIGATED, CONTINUOUS CROP']
UTIL_PRACTICE_DESC : ['ALL UTILIZATION PRACTICES' 'GRAIN' 'SILAGE']
STATISTICCAT_DESC : ['AREA PLANTED' 'AREA HARVESTED' 'PRODUCTION' 'YIELD']
UNIT_DESC : ['ACRES' '480 LB BALES' 'CWT' 'BU' 'BU / NET PLANTED ACRE' 'BU / ACRE'
 'BU / PLANTED ACRE' 'LB / NET PLANTED ACRE' 'LB / ACRE' 'OPERATIONS'
 'BALES' 'TONS' 'TONS / ACRE' 'RUNNING BALES' 'LB']
SHORT_DESC : ['CORN, IRRIGATED - ACRES PLANTED' 'CORN, NON-IRRIGATED - ACRES PLANTED'
 'COTTON - ACRES HARVESTED'
 'COTTON - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, PIMA - ACRES HARVESTED' 'COTTON, PIMA - ACRES PLANTED'
 'COTTON, PIMA - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, PIMA, IRRIGATED - ACRES HARVESTED'
 'COTTON, PIMA, IRRIGATED - ACRES PLANTED'
 'COTTON, PIMA, IRRIGATED - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, PIMA, NON-IRRIGATED - ACRES HARVESTED'
 'COTTON, PIMA, NON-IRRIGATED - ACRES PLANTED'
 'COTTON, PIMA, NON-IRRIGATED - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, UPLAND - ACRES HARVESTED' 'COTTON, UPLAND - ACRES PLANTED'
 'COTTON, UPLAND - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, UPLAND, IRRIGATED - ACRES HARVESTED'
 'COTTON, UPLAND, IRRIGATED - ACRES PLANTED'
 'COTTON, UPLAND, IRRIGATED - PRODUCTION, MEASURED IN 480 LB BALES'
 'COTTON, UPLAND, NON-IRRIGATED - ACRES HARVESTED'
 'COTTON, UPLAND, NON-IRRIGATED - ACRES PLANTED'
 'COTTON, UPLAND, NON-IRRIGATED - PRODUCTION, MEASURED IN 480 LB BALES'
 'RICE - ACRES HARVESTED' 'RICE - ACRES PLANTED'
 'RICE - PRODUCTION, MEASURED IN CWT' 'SOYBEANS - ACRES HARVESTED'
 'SOYBEANS - ACRES PLANTED' 'SOYBEANS - PRODUCTION, MEASURED IN BU'
 'SOYBEANS - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'SOYBEANS, IRRIGATED - ACRES HARVESTED'
 'SOYBEANS, IRRIGATED - ACRES PLANTED'
 'SOYBEANS, IRRIGATED - PRODUCTION, MEASURED IN BU'
 'SOYBEANS, IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'SOYBEANS, NON-IRRIGATED - ACRES HARVESTED'
 'SOYBEANS, NON-IRRIGATED - ACRES PLANTED'
 'SOYBEANS, NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'SOYBEANS, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'SOYBEANS, FOLLOWING ANOTHER CROP (DOUBLE CROPPED) - ACRES HARVESTED'
 'SOYBEANS, FOLLOWING ANOTHER CROP (DOUBLE CROPPED) - ACRES PLANTED'
 'SOYBEANS, FOLLOWING ANOTHER CROP (DOUBLE CROPPED) - PRODUCTION, MEASURED IN BU'
 'SOYBEANS, FOLLOWING ANOTHER CROP (DOUBLE CROPPED) - YIELD, MEASURED IN BU / ACRE'
 'SOYBEANS, NOT FOLLOWING ANOTHER CROP - ACRES HARVESTED'
 'SOYBEANS, NOT FOLLOWING ANOTHER CROP - ACRES PLANTED'
 'SOYBEANS, NOT FOLLOWING ANOTHER CROP - PRODUCTION, MEASURED IN BU'
 'SOYBEANS, NOT FOLLOWING ANOTHER CROP - YIELD, MEASURED IN BU / ACRE'
 'WHEAT - ACRES HARVESTED' 'WHEAT - ACRES PLANTED'
 'WHEAT - PRODUCTION, MEASURED IN BU'
 'WHEAT - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT - YIELD, MEASURED IN BU / ACRE'
 'WHEAT - YIELD, MEASURED IN BU / PLANTED ACRE'
 'WHEAT, IRRIGATED - ACRES HARVESTED' 'WHEAT, IRRIGATED - ACRES PLANTED'
 'WHEAT, IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, IRRIGATED - YIELD, MEASURED IN BU / PLANTED ACRE'
 'WHEAT, NON-IRRIGATED - ACRES HARVESTED'
 'WHEAT, NON-IRRIGATED - ACRES PLANTED'
 'WHEAT, NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, NON-IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES HARVESTED'
 'WHEAT, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES PLANTED'
 'WHEAT, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - PRODUCTION, MEASURED IN BU'
 'WHEAT, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES HARVESTED'
 'WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES PLANTED'
 'WHEAT, NON-IRRIGATED, CONTINUOUS CROP - PRODUCTION, MEASURED IN BU'
 'WHEAT, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, DURUM - ACRES HARVESTED'
 'WHEAT, SPRING, DURUM - ACRES PLANTED'
 'WHEAT, SPRING, DURUM - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, DURUM - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, DURUM, IRRIGATED - ACRES HARVESTED'
 'WHEAT, SPRING, DURUM, IRRIGATED - ACRES PLANTED'
 'WHEAT, SPRING, DURUM, IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, DURUM, IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, DURUM, IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED - ACRES HARVESTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED - ACRES PLANTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES HARVESTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES PLANTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, CONTINUOUS CROP - ACRES HARVESTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, CONTINUOUS CROP - ACRES PLANTED'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, CONTINUOUS CROP - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, DURUM, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, (EXCL DURUM) - ACRES HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM) - ACRES PLANTED'
 'WHEAT, SPRING, (EXCL DURUM) - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, (EXCL DURUM) - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - ACRES HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - ACRES PLANTED'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED - ACRES HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED - ACRES PLANTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES PLANTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, FOLLOWING SUMMER FALLOW - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, CONTINUOUS CROP - ACRES HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, CONTINUOUS CROP - ACRES PLANTED'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, CONTINUOUS CROP - PRODUCTION, MEASURED IN BU'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, SPRING, (EXCL DURUM), NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER - ACRES HARVESTED' 'WHEAT, WINTER - ACRES PLANTED'
 'WHEAT, WINTER - PRODUCTION, MEASURED IN BU'
 'WHEAT, WINTER - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, WINTER - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER - YIELD, MEASURED IN BU / PLANTED ACRE'
 'WHEAT, WINTER, IRRIGATED - ACRES HARVESTED'
 'WHEAT, WINTER, IRRIGATED - ACRES PLANTED'
 'WHEAT, WINTER, IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, WINTER, IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, WINTER, IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER, IRRIGATED - YIELD, MEASURED IN BU / PLANTED ACRE'
 'WHEAT, WINTER, NON-IRRIGATED - ACRES HARVESTED'
 'WHEAT, WINTER, NON-IRRIGATED - ACRES PLANTED'
 'WHEAT, WINTER, NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'WHEAT, WINTER, NON-IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, WINTER, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES HARVESTED'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - ACRES PLANTED'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - PRODUCTION, MEASURED IN BU'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER, NON-IRRIGATED, CONTINUOUS CROP - ACRES HARVESTED'
 'WHEAT, WINTER, NON-IRRIGATED, CONTINUOUS CROP - ACRES PLANTED'
 'WHEAT, WINTER, NON-IRRIGATED, CONTINUOUS CROP - PRODUCTION, MEASURED IN BU'
 'WHEAT, WINTER, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'WHEAT, WINTER, NON-IRRIGATED, CONTINUOUS CROP - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, WINTER, NON-IRRIGATED, FOLLOWING SUMMER FALLOW - YIELD, MEASURED IN BU / PLANTED ACRE'
 'WHEAT, NON-IRRIGATED - YIELD, MEASURED IN BU / PLANTED ACRE'
 'CORN - ACRES PLANTED'
 'COTTON, PIMA - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'COTTON, PIMA - YIELD, MEASURED IN LB / ACRE'
 'COTTON, PIMA, IRRIGATED - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'COTTON, PIMA, IRRIGATED - YIELD, MEASURED IN LB / ACRE'
 'COTTON, PIMA, NON-IRRIGATED - YIELD, MEASURED IN LB / ACRE'
 'COTTON, UPLAND - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'COTTON, UPLAND - YIELD, MEASURED IN LB / ACRE'
 'COTTON, UPLAND, IRRIGATED - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'COTTON, UPLAND, IRRIGATED - YIELD, MEASURED IN LB / ACRE'
 'COTTON, UPLAND, NON-IRRIGATED - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'COTTON, UPLAND, NON-IRRIGATED - YIELD, MEASURED IN LB / ACRE'
 'RICE - YIELD, MEASURED IN LB / NET PLANTED ACRE'
 'RICE - YIELD, MEASURED IN LB / ACRE'
 'WHEAT, SPRING, (EXCL DURUM) - YIELD, MEASURED IN BU / ACRE'
 'WHEAT, SPRING, DURUM - YIELD, MEASURED IN BU / ACRE'
 'SOYBEANS - YIELD, MEASURED IN BU / ACRE'
 'COTTON - OPERATIONS WITH AREA HARVESTED'
 'COTTON - PRODUCTION, MEASURED IN BALES'
 'COTTON, IRRIGATED - ACRES HARVESTED'
 'COTTON, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'COTTON, PIMA - OPERATIONS WITH AREA HARVESTED'
 'COTTON, PIMA - PRODUCTION, MEASURED IN BALES'
 'COTTON, PIMA, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'COTTON, UPLAND - OPERATIONS WITH AREA HARVESTED'
 'COTTON, UPLAND - PRODUCTION, MEASURED IN BALES'
 'COTTON, UPLAND, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'RICE - OPERATIONS WITH AREA HARVESTED'
 'RICE, IRRIGATED - ACRES HARVESTED'
 'RICE, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'SOYBEANS - OPERATIONS WITH AREA HARVESTED'
 'SOYBEANS, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'WHEAT - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, SPRING, DURUM - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, SPRING, DURUM, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM) - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, SPRING, (EXCL DURUM), IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, WINTER - OPERATIONS WITH AREA HARVESTED'
 'WHEAT, WINTER, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'CORN, GRAIN - ACRES HARVESTED'
 'CORN, GRAIN - PRODUCTION, MEASURED IN BU'
 'CORN, GRAIN - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'CORN, GRAIN, IRRIGATED - ACRES HARVESTED'
 'CORN, GRAIN, IRRIGATED - PRODUCTION, MEASURED IN BU'
 'CORN, GRAIN, IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'CORN, GRAIN, IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'CORN, GRAIN, NON-IRRIGATED - ACRES HARVESTED'
 'CORN, GRAIN, NON-IRRIGATED - PRODUCTION, MEASURED IN BU'
 'CORN, GRAIN, NON-IRRIGATED - YIELD, MEASURED IN BU / NET PLANTED ACRE'
 'CORN, GRAIN, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE'
 'CORN, GRAIN - YIELD, MEASURED IN BU / ACRE'
 'CORN, GRAIN - OPERATIONS WITH AREA HARVESTED'
 'CORN, GRAIN, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'CORN, SILAGE - ACRES HARVESTED'
 'CORN, SILAGE - PRODUCTION, MEASURED IN TONS'
 'CORN, SILAGE, IRRIGATED - ACRES HARVESTED'
 'CORN, SILAGE, IRRIGATED - PRODUCTION, MEASURED IN TONS'
 'CORN, SILAGE, IRRIGATED - YIELD, MEASURED IN TONS / ACRE'
 'CORN, SILAGE, NON-IRRIGATED - ACRES HARVESTED'
 'CORN, SILAGE, NON-IRRIGATED - PRODUCTION, MEASURED IN TONS'
 'CORN, SILAGE, NON-IRRIGATED - YIELD, MEASURED IN TONS / ACRE'
 'CORN, SILAGE - YIELD, MEASURED IN TONS / ACRE'
 'CORN, SILAGE - OPERATIONS WITH AREA HARVESTED'
 'CORN, SILAGE, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'COTTON - PRODUCTION, MEASURED IN RUNNING BALES'
 'CORN, TRADITIONAL OR INDIAN - OPERATIONS WITH AREA HARVESTED'
 'CORN, TRADITIONAL OR INDIAN - ACRES HARVESTED'
 'CORN, TRADITIONAL OR INDIAN - PRODUCTION, MEASURED IN LB'
 'CORN, TRADITIONAL OR INDIAN, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'CORN, TRADITIONAL OR INDIAN, IRRIGATED - ACRES HARVESTED']
DOMAIN_DESC : ['TOTAL' 'AREA HARVESTED']

DOMAINCAT_DESC : ['NOT SPECIFIED' 'AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA HARVESTED: (100 TO 249 ACRES)'
 'AREA HARVESTED: (1,000 OR MORE ACRES)'
 'AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'AREA HARVESTED: (250 TO 499 ACRES)'
 'AREA HARVESTED: (500 OR MORE ACRES)'
 'AREA HARVESTED: (500 TO 999 ACRES)']
AGG_LEVEL_DESC : ['COUNTY']
STATE_ANSI : [ 8. 10. 20. 30. 31. 35. 38. 40. 46. 48. 56.  1.  4.  5.  6. 12. 13. 22.
 28. 29. 37. 47. 45. 51. 17.  9. 15. 16. 18. 19. 21. 23. 24. 25. 26. 27.
 33. 34. 36. 39. 41. 42. 44. 49. 50. 53. 54. 55.  2. 32.]
STATE_FIPS_CODE : [ 8 10 20 30 31 35 38 40 46 48 56  1  4  5  6 12 13 22 28 29 37 47 45 51
 17  9 15 16 18 19 21 23 24 25 26 27 33 34 36 39 41 42 44 49 50 53 54 55
  2 32]
STATE_ALPHA : ['CO' 'DE' 'KS' 'MT' 'NE' 'NM' 'ND' 'OK' 'SD' 'TX' 'WY' 'AL' 'AZ' 'AR'
 'CA' 'FL' 'GA' 'LA' 'MS' 'MO' 'NC' 'TN' 'SC' 'VA' 'IL' 'CT' 'HI' 'ID'
 'IN' 'IA' 'KY' 'ME' 'MD' 'MA' 'MI' 'MN' 'NH' 'NJ' 'NY' 'OH' 'OR' 'PA'
 'RI' 'UT' 'VT' 'WA' 'WV' 'WI' 'AK' 'NV']
STATE_NAME : ['COLORADO' 'DELAWARE' 'KANSAS' 'MONTANA' 'NEBRASKA' 'NEW MEXICO'
 'NORTH DAKOTA' 'OKLAHOMA' 'SOUTH DAKOTA' 'TEXAS' 'WYOMING' 'ALABAMA'
 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'FLORIDA' 'GEORGIA' 'LOUISIANA'
 'MISSISSIPPI' 'MISSOURI' 'NORTH CAROLINA' 'TENNESSEE' 'SOUTH CAROLINA'
 'VIRGINIA' 'ILLINOIS' 'CONNECTICUT' 'HAWAII' 'IDAHO' 'INDIANA' 'IOWA'
 'KENTUCKY' 'MAINE' 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA'
 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW YORK' 'OHIO' 'OREGON' 'PENNSYLVANIA'
 'RHODE ISLAND' 'UTAH' 'VERMONT' 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN'
 'ALASKA' 'NEVADA']
ASD_CODE : [20. 60. 70. 90. 50. 80. 10. 30. 40. 11. 12. 21. 22. 51. 52. 81. 82. 96.
 97. 24. 35. 62. 91.]
ASD_DESC : ['NORTHEAST' 'EAST CENTRAL' 'SOUTHWEST' 'SOUTHEAST' 'NORTHERN' 'CENTRAL'
 'SOUTHERN' 'NORTHWEST' 'WEST CENTRAL' 'NORTH CENTRAL' 'SOUTH CENTRAL'
 'NORTH' 'EAST' 'SOUTH' 'PANHANDLE' 'NORTHERN HIGH PLAINS'
 'SOUTHERN HIGH PLAINS' 'NORTHERN LOW PLAINS' 'SOUTHERN LOW PLAINS'
 'CROSS TIMBERS' 'BLACKLANDS' 'EAST TEXAS NORTH' 'EAST TEXAS SOUTH'
 'TRANS-PECOS' 'EDWARDS PLATEAU' 'COASTAL BEND' 'UPPER COAST'
 'SOUTH TEXAS' 'LOWER VALLEY' 'WEST' 'NORTHERN VALLEY'
 'MOUNTAINS & EASTERN VALLEY' 'UPPER PLAINS & PIEDMONT' 'BLACK BELT'
 'COASTAL PLAINS & GULF COAST' 'WIREGRASS' 'CENTRAL COAST'
 'SACRAMENTO VALLEY' 'SAN JOAQUIN VALLEY' 'SOUTHERN CALIFORNIA'
 'UPPER DELTA' 'LOWER DELTA' 'SOUTHEAST AND COASTAL' 'NORTHERN MOUNTAIN'
 'WESTERN MOUNTAIN' 'NORTHERN PIEDMONT' 'CENTRAL PIEDMONT'
 'SOUTHERN PIEDMONT' 'NORTHERN COASTAL' 'CENTRAL COASTAL'
 'SOUTHERN COASTAL' 'DELTA' 'EASTERN' 'WEST TENNESSEE' 'WESTERN RIM'
 'CENTRAL BASIN' 'CUMBERLAND PLATEAU' 'EAST TENNESSEE' 'SOUTHWESTERN'
 'SOUTHEASTERN' 'NORTHERN COAST' 'SISKIYOU-SHASTA' 'SIERRA MOUNTAINS'
 'ALL COUNTIES' 'KAUAI AND NIIHAU ISLANDS' 'MAUI, MOLOKAI & LANAI ISLAND'
 'OAHU ISLAND' 'WEST SOUTHWEST' 'EAST SOUTHEAST' 'PURCHASE' 'MIDWESTERN'
 'BLUEGRASS' 'EASTERN OR MOUNTAIN' 'WESTERN' 'UPPER EASTERN SHORE'
 'LOWER EASTERN SHORE' 'UPPER PENINSULA' 'LONG ISLAND' 'NORTHWESTERN'
 'NORTHEASTERN' 'TANANA VALLEY' 'MATANUSKA-SUSITNA-ANCHORAGE'
 'NORTHWEST AND MOUNTAIN' 'SAN LUIS VALLEY' 'HAWAII ISLAND']
COUNTY_ANSI : [ 13.  59.  69.  75.  87. 115. 123.  nan   1.   5.  17.  35.  39.  41.
  61.  63.  73.  95. 121. 125.  29.  33.  45.  67.  77.  83.  85.  91.
   9.  11.  25.  43.  55.  71.  89.  99. 101.   3.  23.  65. 137. 153.
 179. 181. 193. 109. 135. 171. 195. 199. 203.  57.  81.  93. 119. 129.
 175. 187. 189.  27. 141. 143. 147. 157. 163. 183. 201.  51.  53. 105.
 113. 159. 165. 167. 169.   7.  47.  79.  97. 145. 151. 155. 173. 185.
 191. 117. 131. 149. 161.  31. 111. 127. 177. 197.  15.  19.  21.  37.
 133. 205. 207. 103.  49. 107. 139.   6. 233. 341. 357. 359. 369. 219.
 279. 277. 331. 395. 383. 451. 463. 325. 493. 239. 481. 215. 489. 209.
 102. 217. 231. 251. 293. 349. 491. 307. 255. 285. 287. 453. 291. 321.
 469. 249.  12. 297. 317. 269. 211. 225. 235. 237. 283. 289. 303. 309.
 319. 301. 243. 253. 259. 261. 273. 275. 271. 315. 229. 267. 299. 305.
 213. 295. 375. 381. 393. 421. 437. 227. 329. 445. 501. 263. 345. 483.
 485. 487. 335. 353. 399. 415. 433. 441. 221. 333. 337. 367. 417. 447.
 497. 503. 257. 397. 439. 223. 387. 401. 467. 313. 339. 407. 471. 473.
 371. 389. 475. 281. 327. 411. 413. 431. 461. 477. 355. 391. 409. 245.
 247. 479. 505. 507. 427.  36. 550. 800. 810. 495. 265. 311. 323. 429.
 361.  86. 186. 363. 425. 347. 365. 419. 423. 449. 351. 373.  14. 343.
 379. 459. 499. 405. 457. 443. 435. 465. 403. 455. 241.  78. 510.]
COUNTY_CODE : [ 13.  59.  69.  75.  87. 115. 123. 998.   1.   5.  17.  35.  39.  41.
  61.  63.  73.  95. 121. 125.  29.  33.  45.  67.  77.  83.  85.  91.
   9.  11.  25.  43.  55.  71.  89.  99. 101.   3.  23.  65. 137. 153.
 179. 181. 193. 109. 135. 171. 195. 199. 203.  57.  81.  93. 119. 129.
 175. 187. 189.  27. 141. 143. 147. 157. 163. 183. 201.  51.  53. 105.
 113. 159. 165. 167. 169.   7.  47.  79.  97. 145. 151. 155. 173. 185.
 191. 117. 131. 149. 161.  31. 111. 127. 177. 197.  15.  19.  21.  37.
 133. 205. 207. 103.  49. 107. 139.   6. 233. 341. 357. 359. 369. 219.
 279. 277. 331. 395. 383. 451. 463. 325. 493. 239. 481. 215. 489. 209.
 102. 217. 231. 251. 293. 349. 491. 307. 255. 285. 287. 453. 291. 321.
 469. 249.  12. 297. 317. 269. 211. 225. 235. 237. 283. 289. 303. 309.
 319. 301. 243. 253. 259. 261. 273. 275. 271. 315. 229. 267. 299. 305.
 213. 295. 375. 381. 393. 421. 437. 227. 329. 445. 501. 263. 345. 483.
 485. 487. 335. 353. 399. 415. 433. 441. 221. 333. 337. 367. 417. 447.
 497. 503. 257. 397. 439. 223. 387. 401. 467. 313. 339. 407. 471. 473.
 371. 389. 475. 281. 327. 411. 413. 431. 461. 477. 355. 391. 409. 245.
 247. 479. 505. 507. 427.  36. 550. 800. 810. 495. 265. 311. 323. 429.
 361.  86. 186. 363. 425. 347. 365. 419. 423. 449. 351. 373.  90.  20.
  14. 343. 379. 459. 499. 405. 457. 443. 435. 465. 403. 455. 241.  78.
 510.]
COUNTY_NAME : ['BOULDER' 'JEFFERSON' 'LARIMER' ... 'TILLAMOOK' 'PROVIDENCE' 'SKAMANIA']
REGION_DESC : [nan]
ZIP_5 : [nan]
WATERSHED_CODE : [0]
WATERSHED_DESC : [nan]
CONGR_DISTRICT_CODE : [nan]
COUNTRY_CODE : [9000]
COUNTRY_NAME : ['UNITED STATES']
LOCATION_DESC : ['COLORADO, NORTHEAST, BOULDER' 'COLORADO, NORTHEAST, JEFFERSON'
 'COLORADO, NORTHEAST, LARIMER' ...
 'RHODE ISLAND, ALL COUNTIES, PROVIDENCE' 'WASHINGTON, WESTERN, JEFFERSON'
 'WASHINGTON, WESTERN, SKAMANIA']
YEAR : [2002 1997 2010 1995 1996 1998 1999 2001 2000 1993 1992 2003 1991 1994
 1990 2007 2006 2008 2005 2004 2016 2011 2017 2012 2013 2018 2014 2015
 2019 2009]
FREQ_DESC : ['ANNUAL' 'POINT IN TIME' 'MONTHLY']
BEGIN_CODE : [0 5]
END_CODE : [0 5]
REFERENCE_PERIOD_DESC : ['YEAR' 'FIRST OF MAY' 'MAY']
WEEK_ENDING : [nan]
LOAD_TIME : ['2012-01-01 00:00:00' '2015-06-03 15:08:31' '2017-02-23 15:00:08'
 '2018-02-22 15:08:35' '2015-02-19 15:38:52' '2020-02-20 15:00:33'
 '2016-02-18 15:04:50' '2019-03-21 15:00:18' '2012-12-31 00:00:00'
 '2018-02-01 00:00:00' '2015-05-12 12:11:55' '2016-05-10 12:00:00'
 '2017-05-10 12:01:38' '2019-05-10 12:01:35' '2011-05-10 14:54:14'
 '2015-06-04 15:00:29' '2015-05-12 15:00:08' '2016-05-10 15:13:39'
 '2017-05-10 15:00:27' '2018-05-10 15:00:31' '2019-05-10 15:09:06'
 '2014-05-09 15:01:22' '2019-10-01 15:11:43' '2015-03-05 15:05:34'
 '2017-03-09 15:03:27' '2017-03-09 15:00:18' '2018-03-08 15:03:05'
 '2020-03-05 15:00:25' '2011-05-31 14:55:04' '2019-04-04 15:02:56'
 '2014-03-06 15:00:27' '2016-03-03 15:04:09' '2013-03-13 13:07:57'
 '2016-12-02 09:27:59' '2019-03-21 15:28:35' '2016-03-09 15:15:16'
 '1990-06-15 12:06:17' '2015-06-02 15:00:27' '2016-12-15 15:07:03'
 '2016-12-15 15:36:41' '2017-12-14 15:00:21' '2019-12-12 15:00:24'
 '2014-12-11 15:05:13' '2015-12-10 16:08:04' '2015-06-09 15:00:13'
 '2018-12-13 15:00:08' '2013-12-12 15:00:33' '2019-12-05 15:00:25'
 '2015-10-22 12:24:43' '2013-06-20 13:13:10' '2015-10-22 12:13:54']
VALUE : ['3,500' '6,800' '3,000' ... '570,410' '9,239' '457,759']
CV_% : [nan '20.6' '32.7' ... '96.9' '77.2' '82.5']

In [30]:
# decision of not considering this column as a part of the dataset
# total row size =1870368
# DOMAINCAT_DESC= "not specified" = 1705838
# 91% of column values are not specified; dropped this column

output = filter_region.drop_duplicates()
output.groupby('DOMAINCAT_DESC').size()

DOMAINCAT_DESC
AREA HARVESTED: (1,000 OR MORE ACRES)      15792
AREA HARVESTED: (1.0 TO 24.9 ACRES)        31839
AREA HARVESTED: (100 TO 249 ACRES)         31513
AREA HARVESTED: (25.0 TO 99.9 ACRES)       34269
AREA HARVESTED: (250 TO 499 ACRES)         25483
AREA HARVESTED: (500 OR MORE ACRES)         5117
AREA HARVESTED: (500 TO 999 ACRES)         20517
NOT SPECIFIED                            1705838
dtype: int64

In [32]:
watershed = filter_region.drop_duplicates()
watershed.groupby('WATERSHED_DESC').size()

Series([], dtype: int64)

#### Drop columns 


1. SECTOR_DESC=: single category in column
2. GROUP_DESC=: single category in column
3. DOMAINCAT_DESC=: 79% of column values are not specified; dropped this column
4. STATE_ANSI=: keeping the name of the state for cleaner dataset
5. STATE_FIPS_CODE=:keeping the name of the state for cleaner dataset
6. STATE_ALPHA=: Keeping the state name only
7. CONGR_DISTRICT_CODE=: Nan
8. WATERSHED_DESC=: keeping county data, taking column off the dataframe; different geographic location
9. WATERSHED_CODE=: keeping county data, taking column off the dataframe; different geographic location
10. COUNTRY_CODE=: single category in column
11. BEGIN_CODE=: not significant for visualization
12. END_CODE=: not significant for visualization
13. LOAD_TIME=:  metadata about the dataset
14. REFERENCE_PERIOD_DESC
15. WEEK_ENDING
16. SOURCE_DESC=: aggregating data for both census and survey
17. ASD_CODE=:agricultural statistics district, different geographic location, restraining to county
18. ZIP_5=: different geographic location

In [33]:
filter_region=filter_region.drop(columns=['SECTOR_DESC','GROUP_DESC','DOMAINCAT_DESC','STATE_ANSI',
                              'STATE_FIPS_CODE','STATE_ALPHA','CONGR_DISTRICT_CODE','WATERSHED_DESC',
                              'WATERSHED_CODE','COUNTRY_CODE','BEGIN_CODE','END_CODE','LOAD_TIME','REFERENCE_PERIOD_DESC',
                            'WEEK_ENDING','SOURCE_DESC','ASD_CODE','ZIP_5'])

In [34]:
filter_region.columns

Index(['COMMODITY_DESC', 'CLASS_DESC', 'PRODN_PRACTICE_DESC',
       'UTIL_PRACTICE_DESC', 'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC',
       'DOMAIN_DESC', 'AGG_LEVEL_DESC', 'STATE_NAME', 'ASD_DESC',
       'COUNTY_ANSI', 'COUNTY_CODE', 'COUNTY_NAME', 'REGION_DESC',
       'COUNTRY_NAME', 'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'VALUE', 'CV_%'],
      dtype='object')

In [35]:
# renaming column names
filter_region.rename(columns={'COMMODITY_DESC': 'FIELD_CROPS',
                                'CLASS_DESC': 'CROP_TYPE',
                                'PRODN_PRACTICE_DESC':'PRODN_PRACTICE',
                                'UTIL_PRACTICE_DESC':'UTILIZATION',
                                'STATISTICCAT_DESC':'CATEGORY',
                                'UNIT_DESC':'UNIT',
                                'SHORT_DESC':'ACTIVITY',
                                'DOMAIN_DESC':'DOMAIN',
                                'AGG_LEVEL_DESC':'GEOGRAPHIC_LEVEL',
                                'ASD_DESC':'AGRICULTURAL_DISTT',
                                'FREQ_DESC':'FREQUENCY',
                                'VALUE':'UNIT_VALUE',
                                'CV_%':'CV%'
                                },inplace=True)

In [36]:
filter_region.columns

Index(['FIELD_CROPS', 'CROP_TYPE', 'PRODN_PRACTICE', 'UTILIZATION', 'CATEGORY',
       'UNIT', 'ACTIVITY', 'DOMAIN', 'GEOGRAPHIC_LEVEL', 'STATE_NAME',
       'AGRICULTURAL_DISTT', 'COUNTY_ANSI', 'COUNTY_CODE', 'COUNTY_NAME',
       'REGION_DESC', 'COUNTRY_NAME', 'LOCATION_DESC', 'YEAR', 'FREQUENCY',
       'UNIT_VALUE', 'CV%'],
      dtype='object')

#### Restructure dataframe

In [37]:
filter_region=filter_region[['YEAR','GEOGRAPHIC_LEVEL','COUNTRY_NAME','STATE_NAME','AGRICULTURAL_DISTT','REGION_DESC','LOCATION_DESC',
                            'COUNTY_ANSI', 'COUNTY_CODE','COUNTY_NAME', 'FIELD_CROPS', 'CROP_TYPE', 'PRODN_PRACTICE', 'UTILIZATION', 'CATEGORY',
                            'ACTIVITY', 'DOMAIN', 'FREQUENCY','UNIT','UNIT_VALUE', 'CV%']]

In [38]:
#sorted dataframe based on Year values
sorted_data=filter_region.sort_values(['YEAR'])

In [40]:
# columns count changed from 39 to 21

sorted_data.shape

(1870368, 21)

In [41]:
sorted_data.head()

,YEAR,GEOGRAPHIC_LEVEL,COUNTRY_NAME,STATE_NAME,AGRICULTURAL_DISTT,REGION_DESC,LOCATION_DESC,COUNTY_ANSI,COUNTY_CODE,COUNTY_NAME,...,CROP_TYPE,PRODN_PRACTICE,UTILIZATION,CATEGORY,ACTIVITY,DOMAIN,FREQUENCY,UNIT,UNIT_VALUE,CV%
14202660,1990,COUNTY,UNITED STATES,PENNSYLVANIA,SOUTHEASTERN,NaN,"PENNSYLVANIA, SOUTHEASTERN, LEBANON",75.0,75.0,LEBANON,...,ALL CLASSES,ALL PRODUCTION PRACTICES,SILAGE,AREA HARVESTED,"CORN, SILAGE - ACRES HARVESTED",TOTAL,ANNUAL,ACRES,"13,300",NaN
4895068,1990,COUNTY,UNITED STATES,OKLAHOMA,SOUTHWEST,NaN,"OKLAHOMA, SOUTHWEST, KIOWA",75.0,75.0,KIOWA,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"274,500",NaN
7759973,1990,COUNTY,UNITED STATES,TEXAS,EAST TEXAS NORTH,NaN,"TEXAS, EAST TEXAS NORTH, RED RIVER",387.0,387.0,RED RIVER,...,UPLAND,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,YIELD,"COTTON, UPLAND - YIELD, MEASURED IN LB / ACRE",TOTAL,ANNUAL,LB / ACRE,381,NaN
4895092,1990,COUNTY,UNITED STATES,OKLAHOMA,SOUTHWEST,NaN,"OKLAHOMA, SOUTHWEST, TILLMAN",141.0,141.0,TILLMAN,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"173,500",NaN
4895116,1990,COUNTY,UNITED STATES,OKLAHOMA,NORTH CENTRAL,NaN,"OKLAHOMA, NORTH CENTRAL, ALFALFA",3.0,3.0,ALFALFA,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"309,500",NaN

In [42]:
# exporting cleaned data to csv
now = datetime.now()
current_time=now.strftime("%m-%d-%Y,%H-%M-%S")

sorted_data.to_csv('data_exports/cleaned_data'+current_time+'.csv')

--------- this is the end of the file ----------------