# NASS QuickStats data 

<br> Glossary: [here](https://quickstats.nass.usda.gov/src/glossary.pdf)

### <B> This notebook explains step by step detailed process behind the cleaning and pre processing of the NASS QuickStatsdata.

# DATA CLEANSING AND PRE PROCESSING

In [3]:
#import packages

import csv
import numpy as np
import pandas as pd
from datetime import date 
from datetime import datetime
import time 
from pandas_profiling import ProfileReport

In [4]:
#get an overview of the dataset by limiting records by 20000

data = pd.read_csv("data/qs.crops_20200429.txt", nrows=20000, sep='\t')
data.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
0,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,ALABAMA,2009,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,820,NaN
1,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,ARKANSAS,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,(D),(D)
2,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,CALIFORNIA,2009,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,"10,922",NaN
3,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,CALIFORNIA,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,885,7.4
4,CENSUS,CROPS,HORTICULTURE,"FLOWERING PLANTS, POTTED","INDOOR USE, HYDRANGEA",ALL PRODUCTION PRACTICES,"RETAIL, POTS",SALES,POTS,"FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...",...,COLORADO,2014,ANNUAL,0,0,YEAR,NaN,2015-01-31 00:00:00,(D),(D)

### Data Chunking

In [5]:
# step1.dividing data into chunks 
# step2. filtering out data before 1990

file_path = 'data/qs.crops_20200429.txt'
chunksize = 1000
df_chunks = []

for df in pd.read_csv(file_path, chunksize=chunksize, iterator=True, sep='\t',low_memory=False ):
    df_f = df.loc[(df['YEAR']>=1990)]
    df_chunks.append(df_f)
    #print(df_chunks)
master_df = pd.concat(df_chunks)
print(master_df.head())

  SOURCE_DESC SECTOR_DESC    GROUP_DESC            COMMODITY_DESC  \
0      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
1      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
2      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
3      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED
4      CENSUS       CROPS  HORTICULTURE  FLOWERING PLANTS, POTTED

              CLASS_DESC       PRODN_PRACTICE_DESC UTIL_PRACTICE_DESC  \
0  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
1  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
2  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
3  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS
4  INDOOR USE, HYDRANGEA  ALL PRODUCTION PRACTICES       RETAIL, POTS

  STATISTICCAT_DESC UNIT_DESC  \
0             SALES      POTS
1             SALES      POTS
2             SALES      POTS
3             SALES      POTS
4             SALES      POTS

                                          SHORT_DESC  ... LOCATION_DESC  YEAR  \
0  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...       ALABAMA  2009
1  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...      ARKANSAS  2014
2  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...    CALIFORNIA  2009
3  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...    CALIFORNIA  2014
4  FLOWERING PLANTS, POTTED, INDOOR USE, HYDRANGE...  ...      COLORADO  2014

  FREQ_DESC  BEGIN_CODE  END_CODE REFERENCE_PERIOD_DESC WEEK_ENDING  \
0    ANNUAL           0         0                  YEAR         NaN
1    ANNUAL           0         0                  YEAR         NaN
2    ANNUAL           0         0                  YEAR         NaN
3    ANNUAL           0         0                  YEAR         NaN
4    ANNUAL           0         0                  YEAR         NaN

             LOAD_TIME   VALUE  CV_%
0  2015-01-31 00:00:00     820   NaN
1  2015-01-31 00:00:00     (D)   (D)
2  2015-01-31 00:00:00  10,922   NaN
3  2015-01-31 00:00:00     885   7.4
4  2015-01-31 00:00:00     (D)   (D)

[5 rows x 39 columns]

In [6]:
# get an overview of data commodity to filter out crops

master_df['COMMODITY_DESC'].unique()

array(['FLOWERING PLANTS, POTTED', 'BARLEY', 'BEANS', 'CANOLA', 'COFFEE',
       'CORN', 'COTTON', 'FLAXSEED', 'HAY & HAYLAGE', 'HAY', 'HOPS',
       'LENTILS', 'MAPLE SYRUP', 'MILLET', 'MUSTARD', 'OATS', 'PEANUTS',
       'PEAS', 'POTATOES', 'RAPESEED', 'RICE', 'RYE', 'SAFFLOWER',
       'SORGHUM', 'SOYBEANS', 'SUGARBEETS', 'SUNFLOWER', 'SWEET POTATOES',
       'TARO', 'TOBACCO', 'WHEAT', 'ARTICHOKES', 'ASPARAGUS', 'BROCCOLI',
       'BRUSSELS SPROUTS', 'CABBAGE', 'CAULIFLOWER', 'CELERY',
       'SWEET CORN', 'PICKLES', 'GARLIC', 'GINGER ROOT', 'GREENS', 'OKRA',
       'ONIONS', 'PEPPERS', 'PUMPKINS', 'RADISHES', 'SQUASH',
       'STRAWBERRIES', 'APPLES', 'APRICOTS', 'BOYSENBERRIES',
       'RASPBERRIES', 'CHERRIES', 'GRAPES', 'ALMONDS', 'PISTACHIOS',
       'WALNUTS', 'PAPAYAS', 'PEACHES', 'GRAPEFRUIT', 'K-EARLY CITRUS',
       'LEMONS', 'LIMES', 'ORANGES', 'TEMPLES', 'TANGELOS', 'TANGERINES',
       'FEED GRAINS & HAY', 'CROPS, OTHER', 'FOOD GRAINS',
       'FRUIT & TREE NUT TOTALS', 'OIL-BEARING CROPS',
       'POTATOES & DRY BEANS', 'VEGETABLE TOTALS', 'MUSHROOMS', 'BANANAS',
       'BLACKBERRIES', 'BLUEBERRIES', 'CANEBERRIES', 'CRANBERRIES',
       'LOGANBERRIES', 'GUAVAS', 'MACADAMIAS', 'PECANS',
       'BULBS & CORMS & RHIZOMES & TUBERS', 'BERRY TOTALS',
       'BEDDING PLANTS, HERBACEOUS PERENNIAL', 'HAYLAGE', 'HAZELNUTS',
       'BEETS', 'EGGPLANT', 'ESCAROLE & ENDIVE', 'MELONS', 'AVOCADOS',
       'DATES', 'FIGS', 'NON-CITRUS FRUIT & TREE NUTS TOTALS',
       'KIWIFRUIT', 'NECTARINES', 'OLIVES', 'PEARS', 'PINEAPPLES',
       'PLUMS & PRUNES', 'PLUMS', 'PRUNES', 'LETTUCE', 'LEGUMES',
       'PROPAGATIVE MATERIAL', 'CROP TOTALS', 'AMARANTH', 'BUCKWHEAT',
       'CRAMBE', 'FIELD CROPS, OTHER', 'EMMER & SPELT', 'GRAIN', 'GUAR',
       'JOJOBA', 'LOTUS ROOT', 'SESAME', 'SUGARCANE', 'SWEET RICE',
       'TRITICALE', 'WILD RICE', 'FRUIT & TREE NUTS, OTHER',
       'CITRUS TOTALS', 'CITRUS, OTHER', 'KUMQUATS', 'TRANSPLANTS',
       'SHORT TERM WOODY CROPS', 'CUT CULTIVATED GREENS',
       'DECIDUOUS SHRUBS', 'BERRIES, OTHER', 'CUT CHRISTMAS TREES',
       'CURRANTS', 'MANGOES', 'NON-CITRUS TOTALS', 'NON-CITRUS, OTHER',
       'PASSION FRUIT', 'PERSIMMONS', 'POMEGRANATES', 'CHESTNUTS',
       'TREE NUT TOTALS', 'TREE NUTS, OTHER', 'HORTICULTURE TOTALS',
       'CUT CHRISTMAS TREES & SHORT TERM WOODY CROPS',
       'BEDDING PLANTS, ANNUAL', 'BEDDING PLANT TOTALS',
       'CUT FLOWERS & CUT CULTIVATED GREENS', 'FLORICULTURE TOTALS',
       'FLORICULTURE, OTHER', 'FRUIT TOTALS', 'MUSHROOM SPAWN',
       'TOMATOES', 'NURSERY, OTHER', 'NURSERY TOTALS', 'AQUATIC PLANTS',
       'FLOWER SEEDS', 'SOD', 'VEGETABLE SEEDS', 'CARROTS', 'CHICORY',
       'CUCUMBERS', 'DAIKON', 'GINSENG', 'HORSERADISH', 'PARSLEY',
       'PIMIENTOS', 'RHUBARB', 'SPINACH', 'DECIDUOUS SHADE TREES',
       'TURNIPS', 'VEGETABLES, MIXED', 'VEGETABLES, OTHER', 'WATERCRESS',
       'POPCORN', 'OIL', 'MINT', 'CAKE & MEAL', 'CRUDE PINE GUM',
       'GOOSEBERRIES', 'CUT FLOWERS', 'GRAIN STORAGE CAPACITY', 'HERBS',
       'FIELD CROP TOTALS', 'FRUIT, OTHER', 'MILLFEED',
       'FRUIT & NUT PLANTS', 'FLOUR', 'PEAS & CARROTS', 'DILL',
       'ALCOHOL COPRODUCTS', 'GRASSES', 'GRASSES & LEGUMES TOTALS',
       'GRASSES & LEGUMES, OTHER', 'PASTURELAND', 'ORCHARDS',
       'SMALL GRAINS', 'PEAS & LENTILS', 'HORTICULTURE, OTHER',
       'FOOD CROP TOTALS', 'FOLIAGE PLANTS', 'FOOD CROP, OTHER',
       'WOODY ORNAMENTALS & VINES, OTHER', 'PALMS', 'ORNAMENTAL GRASSES',
       'EVERGREENS, CONIFEROUS', 'EVERGREENS, BROADLEAF', 'CAMELINA',
       'DECIDUOUS FLOWERING TREES', 'BAREROOT HERBACEOUS PERENNIALS',
       'PLUM-APRICOT HYBRIDS', 'MISCANTHUS', 'SWITCHGRASS',
       'PACKING FACILITY', 'FEED GRAINS', 'FIELDWORK', 'SOIL', 'SNOW',
       'CACTI & SUCCULENTS', 'CHERIMOYAS', 'ARONIA BERRIES',
       'ELDERBERRIES', 'CHICKPEAS', 'COLD STORAGE CAPACITY'], dtype=object)

### Data Profiling

Data profiling is the process of reviewing source data, understanding structure, content and interrelationships, and identifying potential for data projects

In [7]:
#filtering out the required crop type

crops = ['WHEAT', 'RICE','COTTON','CORN','SOYBEANS']
master_df.COMMODITY_DESC.isin(crops)
filter_crops= master_df[master_df.COMMODITY_DESC.isin(crops)]
filter_crops.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [8]:
filter_crops.shape

(3833173, 39)

In [9]:
filter_crops.columns

Index(['SOURCE_DESC', 'SECTOR_DESC', 'GROUP_DESC', 'COMMODITY_DESC',
       'CLASS_DESC', 'PRODN_PRACTICE_DESC', 'UTIL_PRACTICE_DESC',
       'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC', 'DOMAIN_DESC',
       'DOMAINCAT_DESC', 'AGG_LEVEL_DESC', 'STATE_ANSI', 'STATE_FIPS_CODE',
       'STATE_ALPHA', 'STATE_NAME', 'ASD_CODE', 'ASD_DESC', 'COUNTY_ANSI',
       'COUNTY_CODE', 'COUNTY_NAME', 'REGION_DESC', 'ZIP_5', 'WATERSHED_CODE',
       'WATERSHED_DESC', 'CONGR_DISTRICT_CODE', 'COUNTRY_CODE', 'COUNTRY_NAME',
       'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'BEGIN_CODE', 'END_CODE',
       'REFERENCE_PERIOD_DESC', 'WEEK_ENDING', 'LOAD_TIME', 'VALUE', 'CV_%'],
      dtype='object')

In [10]:
filter_crops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3833173 entries, 706737 to 19112390
Data columns (total 39 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SOURCE_DESC            object
 1   SECTOR_DESC            object
 2   GROUP_DESC             object
 3   COMMODITY_DESC         object
 4   CLASS_DESC             object
 5   PRODN_PRACTICE_DESC    object
 6   UTIL_PRACTICE_DESC     object
 7   STATISTICCAT_DESC      object
 8   UNIT_DESC              object
 9   SHORT_DESC             object
 10  DOMAIN_DESC            object
 11  DOMAINCAT_DESC         object
 12  AGG_LEVEL_DESC         object
 13  STATE_ANSI             float64
 14  STATE_FIPS_CODE        int64
 15  STATE_ALPHA            object
 16  STATE_NAME             object
 17  ASD_CODE               float64
 18  ASD_DESC               object
 19  COUNTY_ANSI            float64
 20  COUNTY_CODE            float64
 21  COUNTY_NAME            object
 22  REGION_DESC            object
 23  ZIP_5                  float64
 24  WATERSHED_CODE         int64
 25  WATERSHED_DESC         object
 26  CONGR_DISTRICT_CODE    float64
 27  COUNTRY_CODE           int64
 28  COUNTRY_NAME           object
 29  LOCATION_DESC          object
 30  YEAR                   int64
 31  FREQ_DESC              object
 32  BEGIN_CODE             int64
 33  END_CODE               int64
 34  REFERENCE_PERIOD_DESC  object
 35  WEEK_ENDING            object
 36  LOAD_TIME              object
 37  VALUE                  object
 38  CV_%                   object
dtypes: float64(6), int64(6), object(27)
memory usage: 1.1+ GB

In [9]:
filter_crops.describe()

,STATE_ANSI,STATE_FIPS_CODE,ASD_CODE,COUNTY_ANSI,COUNTY_CODE,ZIP_5,WATERSHED_CODE,CONGR_DISTRICT_CODE,COUNTRY_CODE,YEAR,BEGIN_CODE,END_CODE
count,3.739526e+06,3.833173e+06,2.218381e+06,1.840741e+06,1.980210e+06,300614.000000,3.833173e+06,0.0,3833173.0,3.833173e+06,3.833173e+06,3.833173e+06
mean,3.051904e+01,3.192874e+01,4.930453e+01,9.726272e+01,1.606932e+02,51463.057156,2.001533e+04,NaN,9000.0,2.005906e+03,6.551220e+00,6.551396e+00
std,1.441217e+01,1.746798e+01,2.622476e+01,8.681253e+01,2.451974e+02,19956.443565,4.878126e+05,NaN,0.0,8.926106e+00,1.285902e+01,1.285903e+01
min,1.000000e+00,0.000000e+00,1.000000e+01,1.000000e+00,1.000000e+00,1002.000000,0.000000e+00,NaN,9000.0,1.990000e+03,0.000000e+00,0.000000e+00
25%,2.000000e+01,2.000000e+01,3.000000e+01,3.700000e+01,4.100000e+01,38341.000000,0.000000e+00,NaN,9000.0,1.998000e+03,0.000000e+00,0.000000e+00
50%,3.000000e+01,3.000000e+01,5.000000e+01,7.900000e+01,8.500000e+01,53523.000000,0.000000e+00,NaN,9000.0,2.007000e+03,0.000000e+00,0.000000e+00
75%,4.200000e+01,4.500000e+01,7.000000e+01,1.310000e+02,1.490000e+02,65330.000000,0.000000e+00,NaN,9000.0,2.014000e+03,0.000000e+00,0.000000e+00
max,5.600000e+01,9.900000e+01,9.800000e+01,8.100000e+02,9.990000e+02,99999.000000,2.007000e+07,NaN,9000.0,2.020000e+03,5.300000e+01,5.300000e+01

In [11]:
# describing the categortical variable

filter_crops.COUNTY_NAME.describe()

count                       1969586
unique                         1749
top       OTHER (COMBINED) COUNTIES
freq                         128813
Name: COUNTY_NAME, dtype: object

In [12]:
# list of columns

list_cols=[]
list_cols=list(filter_crops)
list_cols

['SOURCE_DESC',
 'SECTOR_DESC',
 'GROUP_DESC',
 'COMMODITY_DESC',
 'CLASS_DESC',
 'PRODN_PRACTICE_DESC',
 'UTIL_PRACTICE_DESC',
 'STATISTICCAT_DESC',
 'UNIT_DESC',
 'SHORT_DESC',
 'DOMAIN_DESC',
 'DOMAINCAT_DESC',
 'AGG_LEVEL_DESC',
 'STATE_ANSI',
 'STATE_FIPS_CODE',
 'STATE_ALPHA',
 'STATE_NAME',
 'ASD_CODE',
 'ASD_DESC',
 'COUNTY_ANSI',
 'COUNTY_CODE',
 'COUNTY_NAME',
 'REGION_DESC',
 'ZIP_5',
 'WATERSHED_CODE',
 'WATERSHED_DESC',
 'CONGR_DISTRICT_CODE',
 'COUNTRY_CODE',
 'COUNTRY_NAME',
 'LOCATION_DESC',
 'YEAR',
 'FREQ_DESC',
 'BEGIN_CODE',
 'END_CODE',
 'REFERENCE_PERIOD_DESC',
 'WEEK_ENDING',
 'LOAD_TIME',
 'VALUE',
 'CV_%']

In [13]:
#check for unique values of all the columns, it helps filter out the values of columns

for cols in list_cols:
    print( cols,':',  filter_crops[cols].unique())

SOURCE_DESC : ['SURVEY' 'CENSUS']
SECTOR_DESC : ['CROPS']
GROUP_DESC : ['FIELD CROPS']
COMMODITY_DESC : ['CORN' 'COTTON' 'RICE' 'SOYBEANS' 'WHEAT']
CLASS_DESC : ['ALL CLASSES' 'PIMA' 'COTTONSEED' 'UPLAND' 'LONG GRAIN' 'MEDIUM GRAIN'
 'SHORT GRAIN' 'SPRING, DURUM' 'SPRING, (EXCL DURUM)' 'WINTER' 'RED, HARD'
 'SPRING, RED, HARD' 'WHITE' 'WINTER, RED, HARD' 'WINTER, RED, SOFT'
 'MEDIUM-SHORT GRAIN' 'WINTER, WHITE, HARD' 'SPRING, WHITE, SOFT'
 'SPRING, WHITE, HARD' 'WINTER, WHITE, SOFT' 'SPRING, WHITE'
 'WINTER, WHITE' 'ROUGH, LONG GRAIN' 'ROUGH, MEDIUM GRAIN'
 'ROUGH, SHORT GRAIN' 'ROUGH' 'MILLED, BROKEN, BREWERS' 'MILLED, BROKEN'
 'MILLED' 'MILLED, WHOLE' 'MILLED, BROKEN, SCREENINGS'
 'MILLED, BROKEN, SECOND HEADS' 'MILLED, WHOLE, LONG GRAIN'
 'MILLED, WHOLE, MEDIUM GRAIN' 'MILLED, WHOLE, SHORT GRAIN'
 'LINT TO LINT & SEED' '(EXCL DURUM)' '(EXCL UPLAND)'
 'TRADITIONAL OR INDIAN']
PRODN_PRACTICE_DESC : ['IRRIGATED' 'NON-IRRIGATED' 'ALL PRODUCTION PRACTICES'
 'FOLLOWING ANOTHER CROP (DOUBLE CROPPED)' 'NOT FOLLOWING ANOTHER CROP'
 'NON-IRRIGATED, FOLLOWING SUMMER FALLOW' 'NON-IRRIGATED, CONTINUOUS CROP'
 'BIOTECH, BT' 'BIOTECH, HERBICIDE RESISTANT' 'BIOTECH, STACKED GENE'
 'BIOTECH' 'IRRIGATED, ENTIRE CROP' 'IRRIGATED, NONE OF CROP'
 'IRRIGATED, PART OF CROP' 'IRRIGATED, PART OF CROP, IRRIGATED PORTION'
 'ORGANIC' 'IRRIGATED, PART OF CROP, NON-IRRIGATED PORTION'
 '1 DAY AFTER CROP PRODUCTION REPORT' '1 DAY AFTER GRAIN STOCKS REPORT'
 'PRIOR TO CLOSING THE DAY OF CROP PRODUCTION REPORT'
 'PRIOR TO CLOSING THE DAY OF GRAIN STOCKS REPORT'
 '1 WEEK AFTER CROP PRODUCTION REPORT' '1 WEEK AFTER GRAIN STOCKS REPORT']
UTIL_PRACTICE_DESC : ['ALL UTILIZATION PRACTICES' 'SILAGE' 'GRAIN' 'ON FARM'
 'FOR FLOUR & SEMOLINA' 'LINT & SEED' 'OFF FARM' 'OFF FARM, GRAIN'
 'OFF FARM, MILLS & ATTACHED WAREHOUSES' 'OFF FARM, PORTS OR TRANSIT'
 'OFF FARM, UNATTACHED WAREHOUSES' 'ON FARM, GRAIN' 'FOR ALCOHOL'
 'FOR OTHER PRODUCTS (EXCL ALCOHOL)' 'FOR ALCOHOL & OTHER PRODUCTS'
 'FOR FLOUR' 'FOR FUEL ALCOHOL' 'AT HARVEST, GRAIN' 'AT HARVEST' 'INSECT'
 'WIND' 'WINTERKILL' 'MANMADE FIBER, POLYESTER STAPLE'
 'MANMADE FIBER, RAYON & ACETATE STAPLE' 'MANMADE FIBER, OTHER'
 'FOR INDUSTRIAL ALCOHOL' 'FOR BEVERAGE ALCOHOL' 'FREEZE'
 'GRAIN, DENT STAGE' 'GRAIN, MATURE STAGE']
STATISTICCAT_DESC : ['AREA PLANTED' 'GINNED BALES' 'AREA HARVESTED' 'PRODUCTION'
 'PRICE RECEIVED' 'PRICE RECEIVED, ADJUSTED BASE' 'PRICE RECEIVED, PARITY'
 'SALES' 'YIELD' 'AREA PLANTED, NET'
 'INDEX FOR PRICE RECEIVED, 1910 - 1914'
 'INDEX FOR PRICE RECEIVED, 1990 - 1992' 'STOCKS' 'BOLL COUNT'
 'SALES IN CONVENTIONAL MARKETS' 'SALES IN ORGANIC MARKETS'
 'RELATIVE WEIGHT' 'CRUSHED' 'EAR COUNT' 'POD COUNT' 'USAGE' 'RATIO'
 'WATER APPLIED' 'INDEX FOR PRICE RECEIVED, 2011' 'CONDITION'
 'PROGRESS, 5 YEAR AVG' 'PROGRESS' 'MOISTURE' 'HEIGHT, AVG' 'INFESTATION'
 'DAMAGE' 'MOISTURE, PREVIOUS YEAR' 'PROGRESS, PREVIOUS YEAR'
 'CONDITION, PREVIOUS YEAR' 'HEIGHT, AVG, PREVIOUS YEAR' 'SAMPLES'
 'ACTIVE GINS' 'DAMAGE, PREVIOUS YEAR' 'MOISTURE, 5 YEAR AVG'
 'CONDITION, 5 YEAR AVG' 'HEIGHT, AVG, 5 YEAR AVG' 'DISAPPEARANCE'
 'DAMAGE, 5 YEAR AVG' 'HARVEST LOSS' 'PLANT POPULATION' 'ROW WIDTH'
 'SEED FOR PLANTING' 'OTHER SALE' 'MILL SALE' 'AREA FLOODED'
 'PROCESSED IN LAB' 'PRICE RECEIVED AFTER REPORT'
 'PRICE REACTION, DECREASE' 'PRICE REACTION, INCREASE'
 'PRICE REACTION, NO CHANGE' 'PRICE REACTION'
 'PRICE RECEIVED PRIOR TO CLOSING' 'HEAD COUNT']
UNIT_DESC : ['ACRES' 'RUNNING BALES' '480 LB BALES' 'PCT OF PARITY' '$ / LB' 'TONS'
 'PCT OF MKTG YEAR' 'CWT' 'BU' 'BU / NET PLANTED ACRE' 'BU / ACRE'
 'BU / PLANTED ACRE' 'INDEX' 'PCT BY TYPE' '$ / BU' '$' '$ / TON'
 '$ / CWT' 'LB / ACRE' 'LB / NET PLANTED ACRE' 'OPERATIONS' 'BALES'
 'BALES / ACRE' 'CWT / ACRE' 'BOLLS / 40 FEET OF ROW'
 'PCT OF COMMODITY TOTALS' 'EARS / ACRE' 'PODS / 18 SQ FT' 'LB / LB'
 'TONS / ACRE' 'PCT OF OPERATIONS BY METHOD' 'PCT BY METHOD'
 'ACRE FEET / ACRE' 'PCT OF FARM SALES' 'PCT OF FARM OPERATIONS'
 'PCT EXCELLENT' 'PCT FAIR' 'PCT GOOD' 'PCT POOR' 'PCT VERY POOR'
 'PCT DENTED' 'PCT EMERGED' 'PCT HARVESTED' 'PCT MATURE' 'PCT PLANTED'
 'PCT SILKING' 'PCT HEADED' 'PCT BLOOMING' 'PCT DROPPING LEAVES'
 'PCT SETTING PODS' 'PCT' 'INCHES' 'PCT DOUGH' 'PCT MILK'
 'PCT SEEDBED PREPARED' 'PCT BOLLS OPENING' 'PCT DEFOLIATED'
 'PCT SETTING BOLLS' 'PCT SQUARING' 'PCT COLORING' 'PCT BOOTED'
 'PCT JOINTING' 'PCT LIGHT' 'PCT MODERATE' 'PCT NONE' 'PCT SEVERE'
 'PCT BREAKING DORMANCY' 'PCT PASTURED' 'PCT BY SIZE GROUP' 'NUMBER' 'LB'
 'LB, NET TRADING WEIGHT BASIS' 'PLANTS / ACRE' 'INCHES / ROW'
 'LB / BALE, AVG' 'PCT OF PLANTED' 'PCT FULLY PODDED' 'CENTS / BU'
 'POINTS / LB' 'HEAD / SQ FT' 'REACTIONS SINCE 1987'
 'REACTIONS SINCE 1984' 'REACTIONS SINCE 1985' 'REACTIONS SINCE 1989'
 'STALKS / ACRE']
SHORT_DESC : ['CORN, IRRIGATED - ACRES PLANTED' 'CORN, NON-IRRIGATED - ACRES PLANTED'
 'COTTON - GINNED BALES, MEASURED IN RUNNING BALES' ...
 'CORN, TRADITIONAL OR INDIAN - PRODUCTION, MEASURED IN LB'
 'CORN, TRADITIONAL OR INDIAN, IRRIGATED - OPERATIONS WITH AREA HARVESTED'
 'CORN, TRADITIONAL OR INDIAN, IRRIGATED - ACRES HARVESTED']
DOMAIN_DESC : ['TOTAL' 'AREA HARVESTED' 'ORGANIC STATUS' 'SALES' 'TYPE OF OPERATION'
 'IRRIGATION METHOD, PRIMARY' 'WATER SOURCE'
 'NAICS CLASSIFICATION AND AREA HARVESTED'
 'ECONOMIC CLASS AND AREA HARVESTED' 'AREA OPERATED AND AREA HARVESTED'
 'FARM SALES AND AREA HARVESTED' 'IRRIGATION STATUS'
 'AREA IRRIGATED, HARVESTED' 'CONCENTRATION' 'FARM SALES'
 'FARM SALES AND SALES' 'AREA OPERATED' 'ECONOMIC CLASS'
 'NAICS CLASSIFICATION' 'AREA OPERATED AND SALES'
 'ECONOMIC CLASS AND SALES' 'NAICS CLASSIFICATION AND SALES' 'ROW WIDTH'
 'PLANT POPULATION' 'BALES GINNED']
DOMAINCAT_DESC : ['NOT SPECIFIED' 'AREA HARVESTED: (1.0 TO 14.9 ACRES)'
 'AREA HARVESTED: (100 TO 249 ACRES)'
 'AREA HARVESTED: (1,000 OR MORE ACRES)'
 'AREA HARVESTED: (1,000 TO 1,999 ACRES)'
 'AREA HARVESTED: (15.0 TO 24.9 ACRES)'
 'AREA HARVESTED: (2,000 TO 2,999 ACRES)'
 'AREA HARVESTED: (25.0 TO 49.9 ACRES)'
 'AREA HARVESTED: (250 TO 499 ACRES)'
 'AREA HARVESTED: (3,000 TO 4,999 ACRES)'
 'AREA HARVESTED: (50.0 TO 99.9 ACRES)'
 'AREA HARVESTED: (500 TO 999 ACRES)'
 'AREA HARVESTED: (5,000 OR MORE ACRES)'
 'AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'AREA HARVESTED: (500 OR MORE ACRES)'
 'ORGANIC STATUS: (NOP USDA CERTIFIED & EXEMPT)'
 'ORGANIC STATUS: (NOP USDA EXEMPT)' 'SALES: (50,000 OR MORE $)'
 'AREA HARVESTED: (1.0 TO 49.9 ACRES)' 'AREA HARVESTED: (50 TO 249 ACRES)'
 'AREA HARVESTED: (250 OR MORE ACRES)' 'TYPE OF OPERATION: (PRIVATE)'
 'ORGANIC STATUS: (NOP USDA CERTIFIED)'
 'TYPE OF OPERATION: (WHEAT OR RYE FLOUR MILL)'
 'TYPE OF OPERATION: (WET MILL PLANT)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, CONTROLLED FLOODING (BETWEEN BORDERS OR WITHIN ROWS), POLY OR LAY FLAT OR ABOVE GROUND PIPE)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, DOWN ROWS OR FURROWS, POLY OR LAY FLAT OR ABOVE OR UNDERGROUND PIPE)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, OTHER)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, CENTER PIVOT & LINEAR MOVE TOWER, GE 60 PSI)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, CENTER PIVOT & LINEAR MOVE TOWER, 30 TO 59 PSI)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, CENTER PIVOT & LINEAR MOVE TOWER, 15 TO 29 PSI)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, CENTER PIVOT & LINEAR MOVE TOWER, LT 15 PSI)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, OTHER)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, UNCONTROLLED FLOODING)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, CONTROLLED FLOODING (BETWEEN BORDERS OR WITHIN ROWS), UNDERGROUND PIPE)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, CONTROLLED FLOODING (BETWEEN BORDERS OR WITHIN ROWS), UNLINED DITCHES)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, CONTROLLED FLOODING (BETWEEN BORDERS OR WITHIN ROWS), LINED DITCHES)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, DOWN ROWS OR FURROWS, UNLINED DITCHES)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY, DOWN ROWS OR FURROWS, LINED DITCHES)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, HAND MOVE)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, BIG GUN OR TRAVELER)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, SIDE ROLL OR WHEEL LINE)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER, SOLID SET OR PERMANENT)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, LOW FLOW (DRIP OR MICRO SPRINKLER))'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE, SPRINKLER)'
 'IRRIGATION METHOD, PRIMARY: (GRAVITY)'
 'IRRIGATION METHOD, PRIMARY: (PRESSURE)' 'WATER SOURCE: (OFF FARM)'
 'WATER SOURCE: (ON FARM SURFACE)' 'WATER SOURCE: (GROUND)'
 'NAICS CLASSIFICATION: (1124) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'NAICS CLASSIFICATION: (1125 & 1129) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'NAICS CLASSIFICATION: (1124) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'NAICS CLASSIFICATION: (1114) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'ECONOMIC CLASS: (2,500 TO 4,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'ECONOMIC CLASS: (1,000 TO 2,499 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'ECONOMIC CLASS: (5,000 TO 9,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'ECONOMIC CLASS: (10,000 TO 24,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'ECONOMIC CLASS: (LESS THAN 1,000 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'ECONOMIC CLASS: (1,000 TO 2,499 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'ECONOMIC CLASS: (2,500 TO 4,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'ECONOMIC CLASS: (1,000 TO 2,499 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'ECONOMIC CLASS: (LESS THAN 1,000 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'AREA OPERATED: (180 TO 219 ACRES) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (1,000 TO 2,499 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (5,000 TO 9,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (50,000 TO 99,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (LESS THAN 1,000 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (25,000 TO 49,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (5,000 TO 9,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'IRRIGATION STATUS: (ANY ON OPERATION)'
 'AREA IRRIGATED, HARVESTED: (250 TO 449 ACRES)'
 'AREA IRRIGATED, HARVESTED: (1.0 TO 99.9 ACRES)'
 'AREA IRRIGATED, HARVESTED: (1.0 TO 49.9 ACRES)'
 'AREA IRRIGATED, HARVESTED: (250 OR MORE ACRES)'
 'AREA IRRIGATED, HARVESTED: (500 OR MORE ACRES)'
 'AREA IRRIGATED, HARVESTED: (500 TO 999 ACRES)'
 'AREA IRRIGATED, HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA IRRIGATED, HARVESTED: (50.0 TO 99.9 ACRES)'
 'AREA IRRIGATED, HARVESTED: (250 TO 499 ACRES)'
 'AREA IRRIGATED, HARVESTED: (1,000 OR MORE ACRES)'
 'AREA IRRIGATED, HARVESTED: (25.0 TO 49.9 ACRES)'
 'AREA IRRIGATED, HARVESTED: (100 TO 249 ACRES)'
 'TYPE OF OPERATION: (DRY MILL PLANT)'
 'CONCENTRATION: (TOP 10 PCT OF OPERATIONS ON FARM SALES BASIS)'
 'CONCENTRATION: (TOP 25 PCT OF OPERATIONS ON FARM SALES BASIS)'
 'CONCENTRATION: (TOP 50 PCT OF OPERATIONS ON FARM SALES BASIS)'
 'CONCENTRATION: (TOP 75 PCT OF OPERATIONS ON FARM SALES BASIS)'
 'FARM SALES: (1,000,000 OR MORE $)' 'FARM SALES: (500,000 TO 999,999 $)'
 'FARM SALES: (250,000 TO 499,999 $)' 'FARM SALES: (100,000 TO 249,999 $)'
 'FARM SALES: (50,000 TO 99,999 $)' 'FARM SALES: (25,000 TO 49,999 $)'
 'FARM SALES: (10,000 TO 24,999 $)' 'FARM SALES: (5,000 TO 9,999 $)'
 'FARM SALES: (2,500 TO 4,999 $)' 'FARM SALES: (1,000 TO 2,499 $)'
 'FARM SALES: (LESS THAN 1,000 $)'
 'FARM SALES: (1,000,000 OR MORE $) AND SALES: (50,000 OR MORE $)'
 'FARM SALES: (500,000 TO 999,999 $) AND SALES: (50,000 OR MORE $)'
 'FARM SALES: (250,000 TO 499,999 $) AND SALES: (50,000 OR MORE $)'
 'FARM SALES: (100,000 TO 249,999 $) AND SALES: (50,000 OR MORE $)'
 'FARM SALES: (50,000 TO 99,999 $) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (1.0 TO 9.9 ACRES)' 'AREA OPERATED: (10.0 TO 49.9 ACRES)'
 'AREA OPERATED: (50.0 TO 69.9 ACRES)'
 'AREA OPERATED: (70.0 TO 99.9 ACRES)' 'AREA OPERATED: (100 TO 139 ACRES)'
 'AREA OPERATED: (140 TO 179 ACRES)' 'AREA OPERATED: (180 TO 219 ACRES)'
 'AREA OPERATED: (220 TO 259 ACRES)' 'AREA OPERATED: (260 TO 499 ACRES)'
 'AREA OPERATED: (500 TO 999 ACRES)'
 'AREA OPERATED: (1,000 TO 1,999 ACRES)'
 'AREA OPERATED: (2,000 OR MORE ACRES)'
 'ECONOMIC CLASS: (1,000,000 OR MORE $)'
 'ECONOMIC CLASS: (500,000 TO 999,999 $)'
 'ECONOMIC CLASS: (250,000 TO 499,999 $)'
 'ECONOMIC CLASS: (100,000 TO 249,999 $)'
 'ECONOMIC CLASS: (50,000 TO 99,999 $)'
 'ECONOMIC CLASS: (25,000 TO 49,999 $)'
 'ECONOMIC CLASS: (10,000 TO 24,999 $)'
 'ECONOMIC CLASS: (5,000 TO 9,999 $)' 'ECONOMIC CLASS: (2,500 TO 4,999 $)'
 'ECONOMIC CLASS: (1,000 TO 2,499 $)'
 'ECONOMIC CLASS: (LESS THAN 1,000 $)' 'NAICS CLASSIFICATION: (1111)'
 'NAICS CLASSIFICATION: (1112)' 'NAICS CLASSIFICATION: (1113)'
 'NAICS CLASSIFICATION: (1114)' 'NAICS CLASSIFICATION: (1119)'
 'NAICS CLASSIFICATION: (11191)' 'NAICS CLASSIFICATION: (11192)'
 'NAICS CLASSIFICATION: (11193 & 11194 & 11199)'
 'NAICS CLASSIFICATION: (112111)' 'NAICS CLASSIFICATION: (112112)'
 'NAICS CLASSIFICATION: (11212)' 'NAICS CLASSIFICATION: (1122)'
 'NAICS CLASSIFICATION: (1123)' 'NAICS CLASSIFICATION: (1124)'
 'NAICS CLASSIFICATION: (1125 & 1129)'
 'AREA OPERATED: (10.0 TO 49.9 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (50.0 TO 69.9 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (70.0 TO 99.9 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (100 TO 139 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (140 TO 179 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (180 TO 219 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (220 TO 259 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (260 TO 499 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (500 TO 999 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (1,000 TO 1,999 ACRES) AND SALES: (50,000 OR MORE $)'
 'AREA OPERATED: (2,000 OR MORE ACRES) AND SALES: (50,000 OR MORE $)'
 'ECONOMIC CLASS: (1,000,000 OR MORE $) AND SALES: (50,000 OR MORE $)'
 'ECONOMIC CLASS: (500,000 TO 999,999 $) AND SALES: (50,000 OR MORE $)'
 'ECONOMIC CLASS: (250,000 TO 499,999 $) AND SALES: (50,000 OR MORE $)'
 'ECONOMIC CLASS: (100,000 TO 249,999 $) AND SALES: (50,000 OR MORE $)'
 'ECONOMIC CLASS: (50,000 TO 99,999 $) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1111) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1112) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1113) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1114) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1119) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (11191) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (11192) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (11193 & 11194 & 11199) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (112111) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (112112) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (11212) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1122) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1123) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1124) AND SALES: (50,000 OR MORE $)'
 'NAICS CLASSIFICATION: (1125 & 1129) AND SALES: (50,000 OR MORE $)'
 'FARM SALES: (1,000,000 OR MORE $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (500,000 TO 999,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (250,000 TO 499,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (100,000 TO 249,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (50,000 TO 99,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (25,000 TO 49,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (10,000 TO 24,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (5,000 TO 9,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (2,500 TO 4,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (1,000 TO 2,499 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (LESS THAN 1,000 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'FARM SALES: (1,000,000 OR MORE $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (500,000 TO 999,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (250,000 TO 499,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (100,000 TO 249,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (50,000 TO 99,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (25,000 TO 49,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (10,000 TO 24,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (2,500 TO 4,999 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (1,000 TO 2,499 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (LESS THAN 1,000 $) AND AREA HARVESTED: (25.0 TO 99.9 ACRES)'
 'FARM SALES: (1,000,000 OR MORE $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (500,000 TO 999,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (250,000 TO 499,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (100,000 TO 249,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (50,000 TO 99,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (25,000 TO 49,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (10,000 TO 24,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (5,000 TO 9,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (2,500 TO 4,999 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (1,000 TO 2,499 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (LESS THAN 1,000 $) AND AREA HARVESTED: (100 TO 249 ACRES)'
 'FARM SALES: (1,000,000 OR MORE $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (500,000 TO 999,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (250,000 TO 499,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (100,000 TO 249,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (50,000 TO 99,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (10,000 TO 24,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (5,000 TO 9,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'FARM SALES: (1,000,000 OR MORE $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (500,000 TO 999,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (250,000 TO 499,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (100,000 TO 249,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (25,000 TO 49,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (10,000 TO 24,999 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (LESS THAN 1,000 $) AND AREA HARVESTED: (500 OR MORE ACRES)'
 'FARM SALES: (2,500 TO 4,999 $) AND AREA HARVESTED: (250 TO 499 ACRES)'
 'AREA OPERATED: (1.0 TO 9.9 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (10.0 TO 49.9 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (50.0 TO 69.9 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (70.0 TO 99.9 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (100 TO 139 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (140 TO 179 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (180 TO 219 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (220 TO 259 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (260 TO 499 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (500 TO 999 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (1,000 TO 1,999 ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'AREA OPERATED: (2,000 OR MORE ACRES) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'ECONOMIC CLASS: (1,000,000 OR MORE $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'ECONOMIC CLASS: (500,000 TO 999,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'
 'ECONOMIC CLASS: (250,000 TO 499,999 $) AND AREA HARVESTED: (1.0 TO 24.9 ACRES)'

STATE_FIPS_CODE : [ 8 10 20 30 31 35 38 40 46 48 56  1  4  5  6 12 13 22 28 29 37 45 47 51
 98 99  0 17  9 15 16 18 19 21 23 24 25 26 27 33 34 36 39 41 42 44 49 50
 53 54 55  2 32]
STATE_ALPHA : ['CO' 'DE' 'KS' 'MT' 'NE' 'NM' 'ND' 'OK' 'SD' 'TX' 'WY' 'AL' 'AZ' 'AR'
 'CA' 'FL' 'GA' 'LA' 'MS' 'MO' 'NC' 'SC' 'TN' 'VA' 'OT' 'US' nan 'IL' 'CT'
 'HI' 'ID' 'IN' 'IA' 'KY' 'ME' 'MD' 'MA' 'MI' 'MN' 'NH' 'NJ' 'NY' 'OH'
 'OR' 'PA' 'RI' 'UT' 'VT' 'WA' 'WV' 'WI' 'AK' 'NV']
STATE_NAME : ['COLORADO' 'DELAWARE' 'KANSAS' 'MONTANA' 'NEBRASKA' 'NEW MEXICO'
 'NORTH DAKOTA' 'OKLAHOMA' 'SOUTH DAKOTA' 'TEXAS' 'WYOMING' 'ALABAMA'
 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'FLORIDA' 'GEORGIA' 'LOUISIANA'
 'MISSISSIPPI' 'MISSOURI' 'NORTH CAROLINA' 'SOUTH CAROLINA' 'TENNESSEE'
 'VIRGINIA' 'OTHER STATES' 'US TOTAL' nan 'ILLINOIS' 'CONNECTICUT'
 'HAWAII' 'IDAHO' 'INDIANA' 'IOWA' 'KENTUCKY' 'MAINE' 'MARYLAND'
 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'NEW HAMPSHIRE' 'NEW JERSEY'
 'NEW YORK' 'OHIO' 'OREGON' 'PENNSYLVANIA' 'RHODE ISLAND' 'UTAH' 'VERMONT'
 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN' 'ALASKA' 'NEVADA']
ASD_CODE : [20. 60. 70. 90. 50. 80. 10. 30. 40. 11. 12. 21. 22. 51. 52. 81. 82. 96.
 97. 98. nan 24. 35. 62. 91.]
ASD_DESC : ['NORTHEAST' 'EAST CENTRAL' 'SOUTHWEST' 'SOUTHEAST' 'NORTHERN' 'CENTRAL'
 'SOUTHERN' 'NORTHWEST' 'WEST CENTRAL' 'NORTH CENTRAL' 'SOUTH CENTRAL'
 'NORTH' 'EAST' 'SOUTH' 'PANHANDLE' 'NORTHERN HIGH PLAINS'
 'SOUTHERN HIGH PLAINS' 'NORTHERN LOW PLAINS' 'SOUTHERN LOW PLAINS'
 'CROSS TIMBERS' 'BLACKLANDS' 'EAST TEXAS NORTH' 'EAST TEXAS SOUTH'
 'TRANS-PECOS' 'EDWARDS PLATEAU' 'COASTAL BEND' 'UPPER COAST'
 'SOUTH TEXAS' 'LOWER VALLEY' 'WEST' 'OTHER DISTRICTS, ALL COUNTIES' nan
 'NORTHERN VALLEY' 'MOUNTAINS & EASTERN VALLEY' 'UPPER PLAINS & PIEDMONT'
 'BLACK BELT' 'COASTAL PLAINS & GULF COAST' 'WIREGRASS'
 'SACRAMENTO VALLEY' 'SAN JOAQUIN VALLEY' 'SOUTHERN CALIFORNIA'
 'UPPER DELTA' 'LOWER DELTA' 'SOUTHERN PIEDMONT' 'NORTHERN COASTAL'
 'CENTRAL COASTAL' 'SOUTHERN COASTAL' 'EASTERN' 'DELTA' 'WEST TENNESSEE'
 'CENTRAL BASIN' 'SOUTHEASTERN' 'CENTRAL COAST' 'SOUTHEAST AND COASTAL'
 'NORTHERN MOUNTAIN' 'WESTERN MOUNTAIN' 'NORTHERN PIEDMONT'
 'CENTRAL PIEDMONT' 'WESTERN RIM' 'CUMBERLAND PLATEAU' 'EAST TENNESSEE'
 'SOUTHWESTERN' 'NORTHERN COAST' 'SISKIYOU-SHASTA' 'SIERRA MOUNTAINS'
 'ALL COUNTIES' 'KAUAI AND NIIHAU ISLANDS' 'MAUI, MOLOKAI & LANAI ISLAND'
 'OAHU ISLAND' 'WEST SOUTHWEST' 'EAST SOUTHEAST' 'PURCHASE' 'MIDWESTERN'
 'BLUEGRASS' 'EASTERN OR MOUNTAIN' 'WESTERN' 'UPPER EASTERN SHORE'
 'LOWER EASTERN SHORE' 'UPPER PENINSULA' 'LONG ISLAND' 'NORTHWESTERN'
 'NORTHEASTERN' 'TANANA VALLEY' 'MATANUSKA-SUSITNA-ANCHORAGE'
 'NORTHWEST AND MOUNTAIN' 'SAN LUIS VALLEY' 'HAWAII ISLAND']
COUNTY_ANSI : [ 13.  59.  69.  75.  87. 115. 123.  nan   1.   5.  17.  35.  39.  41.
  61.  63.  73.  95. 121. 125.  29.  33.  45.  67.  77.  83.  85.  91.
   9.  11.  25.  43.  55.  71.  89.  99. 101.   3.  23.  65. 137. 153.
 179. 181. 193. 109. 135. 171. 195. 199. 203.  57.  81.  93. 119. 129.
 175. 187. 189.  27. 141. 143. 147. 157. 163. 183. 201.  51.  53. 105.
 113. 159. 165. 167. 169.   7.  47.  79.  97. 145. 151. 155. 173. 185.
 191. 117. 131. 149. 161.  31. 111. 127. 177. 197.  15.  19.  21.  37.
 133. 205. 207. 103.  49. 107. 139.   6. 233. 341. 357. 359. 369. 219.
 279. 277. 331. 395. 383. 451. 463. 325. 493. 239. 481. 215. 489. 209.
 102. 217. 231. 251. 293. 349. 491. 307. 255. 285. 287. 453. 291. 321.
 469. 249.  12. 211. 235. 243. 253. 261. 273. 275. 315. 437. 227. 303.
 305. 317. 329. 445. 501. 263. 345. 487. 335. 353. 399. 415. 225. 471.
 371. 389. 461. 355. 391. 409. 507. 800. 297. 269. 237. 283. 289. 309.
 319. 301. 259. 271. 229. 267. 299. 213. 295. 375. 381. 393. 421. 483.
 485. 433. 441. 221. 333. 337. 367. 417. 447. 497. 503. 257. 397. 439.
 223. 387. 401. 467. 313. 339. 407. 473. 475. 281. 327. 411. 413. 431.
 477. 245. 247. 479. 505. 427.  36. 550. 810. 495. 265. 311. 323. 429.
 361.  86. 186. 363. 425. 347. 365. 419. 423. 449. 351. 373.  14. 343.
 379. 459. 499. 405. 457. 443. 435. 465. 403. 455. 241.  78. 510.]
COUNTY_CODE : [ 13.  59.  69.  75.  87. 115. 123. 998.   1.   5.  17.  35.  39.  41.
  61.  63.  73.  95. 121. 125.  29.  33.  45.  67.  77.  83.  85.  91.
   9.  11.  25.  43.  55.  71.  89.  99. 101.   3.  23.  65. 137. 153.
 179. 181. 193. 109. 135. 171. 195. 199. 203.  57.  81.  93. 119. 129.
 175. 187. 189.  27. 141. 143. 147. 157. 163. 183. 201.  51.  53. 105.
 113. 159. 165. 167. 169.   7.  47.  79.  97. 145. 151. 155. 173. 185.
 191. 117. 131. 149. 161.  31. 111. 127. 177. 197.  15.  19.  21.  37.
 133. 205. 207. 103.  49. 107. 139.   6. 233. 341. 357. 359. 369. 219.
 279. 277. 331. 395. 383. 451. 463. 325. 493. 239. 481. 215. 489.  nan
 999. 209. 102. 217. 231. 251. 293. 349. 491. 307. 255. 285. 287. 453.
 291. 321. 469. 249.  12. 211. 235. 243. 253. 261. 273. 275. 315. 437.
 227. 303. 305. 317. 329. 445. 501. 263. 345. 487. 335. 353. 399. 415.
 225. 471. 371. 389. 461. 355. 391. 409. 507. 800. 297. 269. 237. 283.
 289. 309. 319. 301. 259. 271. 229. 267. 299. 213. 295. 375. 381. 393.
 421. 483. 485. 433. 441. 221. 333. 337. 367. 417. 447. 497. 503. 257.
 397. 439. 223. 387. 401. 467. 313. 339. 407. 473. 475. 281. 327. 411.
 413. 431. 477. 245. 247. 479. 505. 427.  36. 550. 810. 495. 265. 311.
 323. 429. 361.  86. 186. 363. 425. 347. 365. 419. 423. 449. 351. 373.
  90.  20.  14. 343. 379. 459. 499. 405. 457. 443. 435. 465. 403. 455.
 241.  78. 510.]
COUNTY_NAME : ['BOULDER' 'JEFFERSON' 'LARIMER' ... 'SKAMANIA' 'DEL NORTE' 'ARLINGTON']
REGION_DESC : [nan 'SALT RIVER PIMA-MARICOPA' "TOHONO O'ODHAM" 'AK-CHIN'
 'COLORADO RIVER' 'FORT MOJAVE' 'FORT YUMA-QUECHAN' 'GILA RIVER'
 'SPEC STATES' 'ANNUAL STATES' 'LAC COURTE OREILLES OJIBWA'
 'LAKE TRAVERSE' 'LEECH LAKE' 'LOWER BRULE' 'LOWER SIOUX' 'MENOMINEE'
 'OMAHA' 'ONEIDA TRIBE OF WISCONSIN' 'PINE RIDGE' 'RED LAKE BAND'
 "ROCKY BOY'S" 'ROSEBUD' 'SAC AND FOX' 'SANTEE SIOUX' 'SPIRIT LAKE'
 'STANDING ROCK' 'STOCKBRIDGE-MUNSEE'
 'TURTLE MOUNTAIN/TRENTON INDIAN SERVICE AREA' 'UPPER SIOUX' 'WHITE EARTH'
 'BLACKFEET' 'CHEYENNE RIVER' 'CROW' 'CROW CREEK' 'FLANDREAU SANTEE'
 'WINNEBAGO' 'YANKTON' 'FORT BERTHOLD' 'FORT PECK' 'HO-CHUNK'
 'NAVAJO NATION' 'NEZ PERCE' 'SPOKANE' 'UMATILLA' 'WARM SPRINGS' 'COCOPAH'
 "COEUR D'ALENE" 'COLVILLE' 'FLATHEAD' 'YAKAMA' 'FORT BELKNAP' 'FORT HALL'
 'WHEAT, DURUM - ANNUAL STATES' 'WHEAT, SPRING - ANNUAL STATES'
 'SILAGE ONLY STATES' 'COTTON - SPEC STATES (4 STATE)' 'ILLINOIS' 'IOWA'
 'NORTH & EAST' 'NORTH CENTRAL' 'SOUTH, WEST, PACIFIC' 'WEST CENTRAL'
 'SPEC 11-STATE' 'RICE - UNALLOCATED STATES' 'EASTERN STATES'
 'PUEBLO OF ISLETA' 'BAD RIVER' 'WIND RIVER' 'ID MT OR UT WA' 'CALIFORNIA'
 'CO OK' 'FL GA SC' 'IA NE' 'ID MT' 'IL IN WI' 'KANSAS' 'KY TN' 'MD VA'
 'MICHIGAN' 'MINNESOTA' 'MISSOURI' 'NJ NY' 'NORTH CAROLINA' 'NORTH DAKOTA'
 'OHIO' 'OR UT WA' 'OTHER STATES' 'PENNSYLVANIA' 'TEXAS'
 'PUEBLO DE COCHITI' 'PUEBLO OF JEMEZ' 'PUEBLO OF SANTO DOMINGO'
 'PUEBLO OF ZUNI' 'SAN CARLOS APACHE' 'HOPI']
ZIP_5 : [   nan 35014. 35019. ... 84129. 85121. 85173.]
WATERSHED_CODE : [       0 18070300 18100100 18100200 18000000 18020100 18030000 18040000
 18050000 13020200 13030100 13030200 13040100 13040200 13040300 13050000
 13060000 13070000 13080000 13090000 15000000 15010000 15030100 15030200
 15040000 15050100 15050200 15050300 15060100 15060200 15070100 15070200
 15080100 15080300 11070200 11080000 11090100 11090200 11100100 11100200
 11100300 11110100 11110200 11120100 11120200 11120300 11130100 11130200
 11130300 11140100 11140200 11140300 12000000 12010000 12020000 12030100
 12030200 12040100 12040200 12050000 12060100 12060200 12070100 12070200
 12080000 12090100 12090200 12090300 12090400 12100100 12100200 12100300
 12100400 12110100 12110200 13000000 10260000 11000000 11010000 11030000
 11040000 11050000 11060000  7140100  8000000  8010100  8010200  8020100
  8020200  8020300  8020400  8030100  8030200  8040100  8040200  8040300
  8050000  8060100  8060200  8070200  8070300  8080100  8080200 10000000
  5000000  5050000  5110000  5130200  6000000  6010100  6010200  6030000
  6040000  7000000  3100200  3110100  3110200  3120000  3130000  3140100
  3140200  3140300  3150100  3150200  3160100  3160200  3170000  3180000
  2000000  2040300  2080100  2080200  3000000  3010100  3010200  3020100
  3020200  3020300  3030000  3040100  3040200  3050100  3050200  3060100
  3060200  3070100  3070200  3080100 18080000 16050100 18010100 18010200
 18020000 18060000 16000000  8090200  7110000  3090200  3100100 20050000
 20060000 20070000 20000000 17000000 17010200 17030000 17050100 17060100
 17070100 17070300 14000000 14010000 14020000 14030000 14060000 16010200
 11070100 10070000 10080000 10090100 10100000 10110100 10110200 10120100
 10120200 10130100 10130200 10130300 10140100 10140200 10150000 10160000
 10170100 10170200 10180000 10190000 10200100 10200200 10210000 10220000
 10230000 10240000 10250000 10270100 10270200 10280100 10280200 10290100
 10290200 10300100 10300200 11020000  7120000  7130000  7140200  8070100
  8090300  9000000  9010000  9020100  9020200  9020300  9030000 10020000
 10030100 10030200 10040100 10050000 10060000  5010000  5020000  5030100
  5030200  5040000  5060000  5070200  5080000  5090100  5090200  5100100
  5100200  5120100  5120200  5130100  5140100  5140200  6020000  7010100
  7010200  7020000  7030000  7040000  7050000  7060000  7070000  7080100
  7080200  7090000  7100000  4000000  4010200  4010300  4020100  4020200
  4030100  4030200  4040000  4050000  4060100  4060200  4070000  4080100
  4080200  4080300  4090000  4100000  4110000  4120100  4120200  4130000
  4140100  4140200  4150100  4150300  4150400  1060000  1080100  1080200
  1090000  1100000  2010000  2020000  2030100  2030200  2040100  2040200
  2050100  2050200  2050300  2060000  2070000  3080200  3090100  1040000
  1000000  1010000  1020000  1030000 19000000 20020000 18070200 18090200
 20010000 16020100 16020200 16020300 16030000 16040100 16040200 16050200
 16050300 16060000 17010300 17020000 17040100 17040200 17050200 17060200
 17060300 17070200 17080000 17090000 17100100 17100200 17100300 17110000
 17120000 18070100 13010000 13020100 14040100 14040200 14050000 14070000
 14080100 14080200 15020000 16010100 10090200 10040200  4150500  5070100
  4020300  4150200  1050000  1070000  1110000]

WATERSHED_DESC : [nan 'CALIFORNIA, LAGUNA-SAN DIEGO COASTAL' 'CALIFORNIA, SOUTHERN MOJAVE'
 'CALIFORNIA, SALTON SEA' 'CALIFORNIA' 'CALIFORNIA, LOWER SACRAMENTO'
 'CALIFORNIA, TULARE-BUENA VISTA LAKES' 'CALIFORNIA, SAN JOAQUIN'
 'CALIFORNIA, SAN FRANCISCO BAY' 'RIO GRANDE, RIO GRANDE-ELEPHANT BUTTE'
 'RIO GRANDE, RIO GRANDE-CABALLO' 'RIO GRANDE, MINBRES'
 'RIO GRANDE, RIO GRANDE-FORT QUITMAN' 'RIO GRANDE, RIO GRANDE-AMISTAD'
 'RIO GRANDE, DEVILS' 'RIO GRANDE, RIO GRANDE CLOSED BASINS'
 'RIO GRANDE, UPPER PECOS' 'RIO GRANDE, LOWER PECOS'
 'RIO GRANDE, RIO GRANDE-FALCON' 'RIO GRANDE, LOWER RIO GRANDE'
 'LOWER COLORADO' 'LOWER COLORADO, LOWER COLORADO-LAKE MEAD'
 'LOWER COLORADO, LOWER COLORADO' 'LOWER COLORADO, BILL WILLIAMS'
 'LOWER COLORADO, UPPER GILA' 'LOWER COLORADO, MIDDLE GILA'
 'LOWER COLORADO, SAN PEDRO-WILLCOX' 'LOWER COLORADO, SANTA CRUZ'
 'LOWER COLORADO, SALT' 'LOWER COLORADO, VERDE'
 'LOWER COLORADO, LOWER GILA-AGUA FRIA' 'LOWER COLORADO, LOWER GILA'
 'LOWER COLORADO, RIO SONOYTA' 'LOWER COLORADO, RIO DE BAVISPE'
 'ARKANSAS-WHITE-RED, NEOSHO' 'ARKANSAS-WHITE-RED, UPPER CANADIAN'
 'ARKANSAS-WHITE-RED, MIDDLE CANADIAN'
 'ARKANSAS-WHITE-RED, LOWER CANADIAN' 'ARKANSAS-WHITE-RED, UPPER BEAVER'
 'ARKANSAS-WHITE-RED, LOWER BEAVER'
 'ARKANSAS-WHITE-RED, LOWER NORTH CANADIAN'
 'ARKANSAS-WHITE-RED, ROBERT S. KERR RESERVOIR'
 'ARKANSAS-WHITE-RED, LOWER ARKANSAS-FOURCHE LA FAVE'
 'ARKANSAS-WHITE-RED, PRAIRIE DOG TOWN FORK RED'
 'ARKANSAS-WHITE-RED, SALT FORK RED' 'ARKANSAS-WHITE-RED, NORTH FORK RED'
 'ARKANSAS-WHITE-RED, RED-PEASE' 'ARKANSAS-WHITE-RED, RED-LAKE TEXOMA'
 'ARKANSAS-WHITE-RED, WASHITA' 'ARKANSAS-WHITE-RED, RED-LITTLE'
 'ARKANSAS-WHITE-RED, RED-SALINE'
 'ARKANSAS-WHITE-RED, BIG CYPRESS-SULPHUR' 'TEXAS-GULF'
 'TEXAS-GULF, SABINE' 'TEXAS-GULF, NECHES' 'TEXAS-GULF, UPPER TRINITY'
 'TEXAS-GULF, LOWER TRINITY' 'TEXAS-GULF, SAN JACINTO'
 'TEXAS-GULF, GALVESTON BAY-SABINE LAKE' 'TEXAS-GULF, BRAZOS HEADWATERS'
 'TEXAS-GULF, MIDDLE BRAZOS-CLEAR FORK' 'TEXAS-GULF, MIDDLE BRAZOS-BOSQUE'
 'TEXAS-GULF, LOWER BRAZOS' 'TEXAS-GULF, LITTLE'
 'TEXAS-GULF, UPPER COLORADO' 'TEXAS-GULF, MIDDLE COLORADO-CONCHO'
 'TEXAS-GULF, MIDDLE COLORADO-LLANO' 'TEXAS-GULF, LOWER COLORADO'
 'TEXAS-GULF, SAN BERNARD COASTAL' 'TEXAS-GULF, LAVACA'
 'TEXAS-GULF, GUADALUPE' 'TEXAS-GULF, SAN ANTONIO'
 'TEXAS-GULF, CENTRAL TEXAS COASTAL' 'TEXAS-GULF, NUECES'
 'TEXAS-GULF, SOUTHWESTERN TEXAS COASTAL' 'RIO GRANDE'
 'MISSOURI, SMOKY HILL' 'ARKANSAS-WHITE-RED'
 'ARKANSAS-WHITE-RED, UPPER WHITE' 'ARKANSAS-WHITE-RED, MIDDLE ARKANSAS'
 'ARKANSAS-WHITE-RED, UPPER CIMARRON' 'ARKANSAS-WHITE-RED, LOWER CIMARRON'
 'ARKANSAS-WHITE-RED, ARKANSAS-KEYSTONE'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-MERAMEC' 'LOWER MISSISSIPPI'
 'LOWER MISSISSIPPI, LOWER MISSISSIPPI-MEMPHIS'
 'LOWER MISSISSIPPI, HATCHIE-OBION'
 'LOWER MISSISSIPPI, LOWER MISSISSIPPI-HELENA'
 'LOWER MISSISSIPPI, ST. FRANCIS' 'LOWER MISSISSIPPI, LOWER WHITE'
 'LOWER MISSISSIPPI, LOWER ARKANSAS'
 'LOWER MISSISSIPPI, LOWER MISSISSIPPI-GREENVILLE'
 'LOWER MISSISSIPPI, YAZOO' 'LOWER MISSISSIPPI, UPPER OUACHITA'
 'LOWER MISSISSIPPI, LOWER OUACHITA' 'LOWER MISSISSIPPI, LOWER RED'
 'LOWER MISSISSIPPI, BOEUF-TENSAS'
 'LOWER MISSISSIPPI, LOWER MISSISSIPPI-NATCHEZ'
 'LOWER MISSISSIPPI, BIG BLACK-HOMOCHITTO'
 'LOWER MISSISSIPPI, LAKE MAUREPAS' 'LOWER MISSISSIPPI, LOWER GRAND'
 'LOWER MISSISSIPPI, ATCHAFALAYA-VERMILION'
 'LOWER MISSISSIPPI, CALCASIEU-MERMENTAU' 'MISSOURI' 'OHIO'
 'OHIO, KANAWHA' 'OHIO, GREEN' 'OHIO, LOWER CUMBERLAND' 'TENNESSEE'
 'TENNESSEE, FRENCH BROAD-HOLSTON' 'TENNESSEE, UPPER TENNESSEE'
 'TENNESSEE, MIDDLE TENNESSEE-ELK' 'TENNESSEE, LOWER TENNESSEE'
 'UPPER MISSISSIPPI' 'SOUTH ATLANTIC-GULF, TAMPA BAY'
 'SOUTH ATLANTIC-GULF, AUCILLA-WACCASASSA' 'SOUTH ATLANTIC-GULF, SUWANNEE'
 'SOUTH ATLANTIC-GULF, OCHLOCKONEE' 'SOUTH ATLANTIC-GULF, APALACHICOLA'
 'SOUTH ATLANTIC-GULF, FLORIDA PANHANDLE COASTAL'
 'SOUTH ATLANTIC-GULF, CHOCTAWHATCHEE' 'SOUTH ATLANTIC-GULF, ESCAMBIA'
 'SOUTH ATLANTIC-GULF, COOSA-TALLAPOOSA' 'SOUTH ATLANTIC-GULF, ALABAMA'
 'SOUTH ATLANTIC-GULF, BLACK WARRIOR-TOMBIGBEE'
 'SOUTH ATLANTIC-GULF, MOBILE BAY-TOMBIGBEE'
 'SOUTH ATLANTIC-GULF, PASCAGOULA' 'SOUTH ATLANTIC-GULF, PEARL'
 'MID-ATLANTIC' 'MID-ATLANTIC, MID-ATLANTIC COASTAL'
 'MID-ATLANTIC, LOWER CHESAPEAKE' 'MID-ATLANTIC, JAMES'
 'SOUTH ATLANTIC-GULF' 'SOUTH ATLANTIC-GULF, ROANOKE'
 'SOUTH ATLANTIC-GULF, ALBEMARLE-CHOWAN' 'SOUTH ATLANTIC-GULF, PAMLICO'
 'SOUTH ATLANTIC-GULF, NEUSE' 'SOUTH ATLANTIC-GULF, ONSLOW BAY'
 'SOUTH ATLANTIC-GULF, CAPE FEAR' 'SOUTH ATLANTIC-GULF, UPPER PEE DEE'
 'SOUTH ATLANTIC-GULF, LOWER PEE DEE' 'SOUTH ATLANTIC-GULF, SANTEE'
 'SOUTH ATLANTIC-GULF, EDISTO-SOUTH CAROLINA COASTAL'
 'SOUTH ATLANTIC-GULF, SAVANNAH' 'SOUTH ATLANTIC-GULF, OGEECHEE'
 'SOUTH ATLANTIC-GULF, ALTAMAHA' 'SOUTH ATLANTIC-GULF, ST. MARYS-SATILLA'
 'SOUTH ATLANTIC-GULF, ST. JOHNS' 'CALIFORNIA, NORTH LAHONTAN'
 'GREAT BASIN, TRUCKEE' 'CALIFORNIA, NORTHERN CALIFORNIA COASTAL'
 'CALIFORNIA, KLAMATH' 'CALIFORNIA, UPPER SACRAMENTO'
 'CALIFORNIA, CENTRAL CALIFORNIA COASTAL' 'GREAT BASIN'
 'LOWER MISSISSIPPI, LAKE PONTCHARTRAIN'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-SALT'
 'SOUTH ATLANTIC-GULF, SOUTHERN FLORIDA' 'SOUTH ATLANTIC-GULF, PEACE'
 'HAWAII, MOLOKAI' 'HAWAII, OAHU' 'HAWAII, KAUAI' 'HAWAII'
 'PACIFIC NORTHWEST' 'PACIFIC NORTHWEST, PEND OREILLE'
 'PACIFIC NORTHWEST, YAKIMA' 'PACIFIC NORTHWEST, MIDDLE SNAKE-BOISE'
 'PACIFIC NORTHWEST, LOWER SNAKE' 'PACIFIC NORTHWEST, MIDDLE COLUMBIA'
 'PACIFIC NORTHWEST, DESCHUTES' 'UPPER COLORADO'
 'UPPER COLORADO, COLORADO HEADWATERS' 'UPPER COLORADO, GUNNISON'
 'UPPER COLORADO, UPPER COLORADO-DOLORES' 'UPPER COLORADO, LOWER GREEN'
 'GREAT BASIN, LOWER BEAR' 'ARKANSAS-WHITE-RED, VERDIGRIS'
 'MISSOURI, UPPER YELLOWSTONE' 'MISSOURI, BIG HORN' 'MISSOURI, TONGUE'
 'MISSOURI, LOWER YELLOWSTONE' 'MISSOURI, LAKE SAKAKAWEA'
 'MISSOURI, LITTLE MISSOURI' 'MISSOURI, CHEYENNE'
 'MISSOURI, BELLE FOURCHE' 'MISSOURI, LAKE OAHE'
 'MISSOURI, CANNONBALL-HEART-KNIFE' 'MISSOURI, GRAND-MOREAU'
 'MISSOURI, FORT RANDALL RESERVOIR' 'MISSOURI, WHITE' 'MISSOURI, NIOBRARA'
 'MISSOURI, JAMES' 'MISSOURI, LEWIS AND CLARK LAKE' 'MISSOURI, BIG SIOUX'
 'MISSOURI, NORTH PLATTE' 'MISSOURI, SOUTH PLATTE'
 'MISSOURI, MIDDLE PLATTE' 'MISSOURI, LOWER PLATTE' 'MISSOURI, LOUP'
 'MISSOURI, ELKHORN' 'MISSOURI, MISSOURI-LITTLE SIOUX'
 'MISSOURI, MISSOURI-NISHNABOTNA' 'MISSOURI, REPUBLICAN'
 'MISSOURI, KANSAS' 'MISSOURI, BIG BLUE' 'MISSOURI, GRAND'
 'MISSOURI, CHARITON' 'MISSOURI, OSAGE' 'MISSOURI, GASCONADE'
 'MISSOURI, LOWER MISSOURI-BLACKWATER' 'MISSOURI, LOWER MISSOURI'
 'ARKANSAS-WHITE-RED, UPPER ARKANSAS' 'UPPER MISSISSIPPI, UPPER ILLINOIS'
 'UPPER MISSISSIPPI, LOWER ILLINOIS' 'UPPER MISSISSIPPI, KASKASKIA'
 'LOWER MISSISSIPPI, LOWER MISSISSIPPI-BATON ROUGE'
 'LOWER MISSISSIPPI, CENTRAL LOUISIANA COASTAL' 'SOURIS-RED-RAINY'
 'SOURIS-RED-RAINY, SOURIS' 'SOURIS-RED-RAINY, UPPER RED'
 'SOURIS-RED-RAINY, DEVILS LAKE-SHEYENNE' 'SOURIS-RED-RAINY, LOWER RED'
 'SOURIS-RED-RAINY, RAINY' 'MISSOURI, MISSOURI HEADWATERS'
 'MISSOURI, UPPER MISSOURI' 'MISSOURI, MARIAS' 'MISSOURI, FORT PECK LAKE'
 'MISSOURI, MILK' 'MISSOURI, MISSOURI-POPLAR' 'OHIO, ALLEGHENY'
 'OHIO, MONONGAHELA' 'OHIO, UPPER OHIO-BEAVER'
 'OHIO, UPPER OHIO-LITTLE KANAWHA' 'OHIO, MUSKINGUM' 'OHIO, SCIOTO'
 'OHIO, BIG SANDY' 'OHIO, GREAT MIAMI' 'OHIO, MIDDLE OHIO-RACCOON'
 'OHIO, MIDDLE OHIO-LITTLE MIAMI' 'OHIO, LICKING' 'OHIO, KENTUCKY'
 'OHIO, WABASH' 'OHIO, PATOKA-WHITE' 'OHIO, UPPER CUMBERLAND'
 'OHIO, LOWER OHIO-SALT' 'OHIO, LOWER OHIO'
 'TENNESSEE, MIDDLE TENNESSEE-HIWASSEE'
 'UPPER MISSISSIPPI, MISSISSIPPI HEADWATERS'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-CROW-RUM'
 'UPPER MISSISSIPPI, MINNESOTA' 'UPPER MISSISSIPPI, ST. CROIX'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-BLACK-ROOT'
 'UPPER MISSISSIPPI, CHIPPEWA'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-MAQUOKETA-PLUM'
 'UPPER MISSISSIPPI, WISCONSIN'
 'UPPER MISSISSIPPI, UPPER MISSISSIPPI-SKUNK-WAPSIPINICON'
 'UPPER MISSISSIPPI, IOWA' 'UPPER MISSISSIPPI, ROCK'
 'UPPER MISSISSIPPI, DES MOINES' 'GREAT LAKES' 'GREAT LAKES, ST. LOUIS'
 'GREAT LAKES, SOUTHWESTERN LAKE SUPERIOR'
 'GREAT LAKES, SOUTHCENTRAL LAKE SUPERIOR'
 'GREAT LAKES, SOUTHEASTERN LAKE SUPERIOR'
 'GREAT LAKES, NORTHWESTERN LAKE MICHIGAN' 'GREAT LAKES, FOX'
 'GREAT LAKES, SOUTHWESTERN LAKE MICHIGAN'
 'GREAT LAKES, SOUTHEASTERN LAKE MICHIGAN'
 'GREAT LAKES, NORTHEASTERN LAKE MICHIGAN' 'GREAT LAKES, LAKE MICHIGAN'
 'GREAT LAKES, NORTHWESTERN LAKE HURON'
 'GREAT LAKES, SOUTHWESTERN LAKE HURON' 'GREAT LAKES, SAGINAW'
 'GREAT LAKES, LAKE HURON' 'GREAT LAKES, ST. CLAIR-DETROIT'
 'GREAT LAKES, WESTERN LAKE ERIE' 'GREAT LAKES, SOUTHERN LAKE ERIE'
 'GREAT LAKES, EASTERN LAKE ERIE' 'GREAT LAKES, LAKE ERIE'
 'GREAT LAKES, SOUTHWESTERN LAKE ONTARIO'
 'GREAT LAKES, SOUTHEASTERN LAKE ONTARIO' 'GREAT LAKES, OSWEGO'
 'GREAT LAKES, NORTHEASTERN LAKE ONTARIO' 'GREAT LAKES, ST. LAWRENCE'
 'GREAT LAKES, LAKE CHAMPLAIN-RICHELIEU RIVER' 'NEW ENGLAND, SACO'
 'NEW ENGLAND, UPPER CONNECTICUT' 'NEW ENGLAND, LOWER CONNECTICUT'
 'NEW ENGLAND, MASSACHUSETTS-RHODE ISLAND COASTAL'
 'NEW ENGLAND, CONNECTICUT COASTAL' 'MID-ATLANTIC, RICHELIEU'
 'MID-ATLANTIC, UPPER HUDSON' 'MID-ATLANTIC, LOWER HUDSON'
 'MID-ATLANTIC, LONG ISLAND' 'MID-ATLANTIC, UPPER DELAWARE'
 'MID-ATLANTIC, LOWER DELAWARE' 'MID-ATLANTIC, UPPER SUSQUEHANNA'
 'MID-ATLANTIC, WEST BRANCH SUSQUEHANNA' 'MID-ATLANTIC, LOWER SUSQUEHANNA'
 'MID-ATLANTIC, UPPER CHESAPEAKE' 'MID-ATLANTIC, POTOMAC'
 'SOUTH ATLANTIC-GULF, EAST FLORIDA COASTAL'
 'SOUTH ATLANTIC-GULF, KISSIMMEE' 'NEW ENGLAND, ANDROSCOGGIN'
 'NEW ENGLAND' 'NEW ENGLAND, ST. JOHN' 'NEW ENGLAND, PENOBSCOT'
 'NEW ENGLAND, KENNEBEC' 'ALASKA' 'HAWAII, MAUI' 'CALIFORNIA, SANTA ANA'
 'CALIFORNIA, NORTHERN MOJAVE' 'HAWAII, HAWAII' 'GREAT BASIN, WEBER'
 'GREAT BASIN, JORDAN' 'GREAT BASIN, GREAT SALT LAKE'
 'GREAT BASIN, ESCALANTE DESERT-SEVIER LAKE' 'GREAT BASIN, HUMBOLDT'
 'GREAT BASIN, BLACK ROCK DESERT' 'GREAT BASIN, CARSON'
 'GREAT BASIN, WALKER' 'GREAT BASIN, CENTRAL NEVADA DESERT BASINS'
 'PACIFIC NORTHWEST, SPOKANE' 'PACIFIC NORTHWEST, UPPER COLUMBIA'
 'PACIFIC NORTHWEST, SNAKE HEADWATERS' 'PACIFIC NORTHWEST, UPPER SNAKE'
 'PACIFIC NORTHWEST, MIDDLE SNAKE-POWDER' 'PACIFIC NORTHWEST, SALMON'
 'PACIFIC NORTHWEST, CLEARWATER' 'PACIFIC NORTHWEST, JOHN DAY'
 'PACIFIC NORTHWEST, LOWER COLUMBIA' 'PACIFIC NORTHWEST, WILLAMETTE'
 'PACIFIC NORTHWEST, WASHINGTON COASTAL'
 'PACIFIC NORTHWEST, NORTHERN OREGON COASTAL'
 'PACIFIC NORTHWEST, SOUTHERN OREGON COASTAL'
 'PACIFIC NORTHWEST, PUGET SOUND'
 'PACIFIC NORTHWEST, OREGON CLOSED BASINS'
 'CALIFORNIA, VENTURA-SAN GABRIEL COASTAL'
 'RIO GRANDE, RIO GRANDE HEADWATERS' 'RIO GRANDE, UPPER RIO GRANDE'
 'UPPER COLORADO, UPPER GREEN' 'UPPER COLORADO, GREAT DIVIDE CLOSED BASIN'
 'UPPER COLORADO, WHITE-YAMPA'
 'UPPER COLORADO, UPPER COLORADO-DIRTY DEVIL'
 'UPPER COLORADO, UPPER SAN JUAN' 'UPPER COLORADO, LOWER SAN JUAN'
 'LOWER COLORADO, LITTLE COLORADO' 'GREAT BASIN, UPPER BEAR'
 'MISSOURI, POWDER' 'MISSOURI, MUSSELSHELL'
 'GREAT LAKES, ST. FRANCOIS RIVER' 'OHIO, GUYANDOTTE'
 'GREAT LAKES, LAKE SUPERIOR' 'GREAT LAKES, LAKE ONTARIO'
 'NEW ENGLAND, MAINE COASTAL' 'NEW ENGLAND, MERRIMACK'
 'NEW ENGLAND, ST. FRANCOIS']
CONGR_DISTRICT_CODE : [nan]
COUNTRY_CODE : [9000]

COUNTRY_NAME : ['UNITED STATES']
LOCATION_DESC : ['COLORADO, NORTHEAST, BOULDER' 'COLORADO, NORTHEAST, JEFFERSON'
 'COLORADO, NORTHEAST, LARIMER' ... 60958 41021 85131]
YEAR : [2002 1997 2010 1995 1996 1998 1999 2001 2000 1993 1992 2003 1991 1994
 1990 2007 2006 2008 2005 2004 2016 2011 2017 2012 2013 2018 2014 2015
 2019 2009 2020]
FREQ_DESC : ['ANNUAL' 'POINT IN TIME' 'MONTHLY' 'WEEKLY']
BEGIN_CODE : [ 0  1  2  5 10 11 12  3  9  8  4  7  6 27 28 29 17 18 19 20 21 22 23 24
 25 26 30 31 32 33 34 35 36 37 38 39 40 41 42 43 16 15 44 45 46 13 14 47
 48 49 51 50 52 53]
END_CODE : [ 0  1  2  5 10 11 12  3  9  8  4  7  6 27 28 29 17 18 19 20 21 22 23 24
 25 26 30 31 32 33 34 35 36 37 38 39 40 41 42 43 16 15 44 45 46 13 14 47
 48 49 51 50 52 53]
REFERENCE_PERIOD_DESC : ['YEAR' 'FIRST OF JAN' 'FIRST OF FEB' 'FIRST OF MAY' 'MID OCT'
 'FIRST OF NOV' 'MID NOV' 'FIRST OF DEC' 'MID DEC' 'MID JAN'
 'FIRST OF MAR' 'MAY' 'FIRST OF OCT' 'MID SEP' 'FIRST OF SEP'
 'FIRST OF AUG' 'YEAR - AUG FORECAST' 'YEAR - SEP FORECAST'
 'YEAR - DEC FORECAST' 'YEAR - OCT FORECAST' 'YEAR - NOV FORECAST'
 'YEAR - JAN FORECAST' 'YEAR - MAR ACREAGE' 'YEAR - JUN ACREAGE'
 'YEAR - SEP ACREAGE' 'YEAR - AUG ACREAGE' 'YEAR - JAN ACREAGE' 'APR'
 'JUL' 'OCT' 'JAN' 'JUN' 'DEC' 'NOV' 'FEB' 'MAR' 'AUG' 'SEP'
 'MARKETING YEAR' 'YEAR - OCT ACREAGE' 'YEAR - JUL FORECAST'
 'YEAR - MAY FORECAST' 'YEAR - JUN FORECAST' 'YEAR - DEC ACREAGE'
 'FIRST OF JUN' 'JUL THRU SEP' 'OCT THRU DEC' 'JAN THRU MAR'
 'APR THRU JUN' 'WEEK #27' 'WEEK #28' 'WEEK #29' 'WEEK #17' 'WEEK #18'
 'WEEK #19' 'WEEK #20' 'WEEK #21' 'WEEK #22' 'WEEK #23' 'WEEK #24'
 'WEEK #25' 'WEEK #26' 'WEEK #30' 'WEEK #31' 'WEEK #32' 'WEEK #33'
 'WEEK #34' 'WEEK #35' 'WEEK #36' 'WEEK #37' 'WEEK #38' 'WEEK #39'
 'WEEK #40' 'WEEK #41' 'WEEK #42' 'WEEK #43' 'WEEK #16' 'WEEK #15'
 'WEEK #44' 'WEEK #45' 'WEEK #46' 'WEEK #13' 'WEEK #14' 'WEEK #47'
 'WEEK #48' 'WEEK #49' 'WEEK #12' 'WEEK #51' 'WEEK #50' 'WEEK #11'
 'WEEK #10' 'WEEK #08' 'WEEK #09' 'WEEK #52' 'WEEK #01' 'WEEK #05'
 'WEEK #02' 'WEEK #03' 'WEEK #04' 'WEEK #06' 'WEEK #07' 'WEEK #53'
 'SEP THRU NOV' 'DEC THRU FEB' 'JUN THRU AUG' 'FIRST OF JUL']
WEEK_ENDING : [nan '2014-07-06' '2014-07-13' ... '2012-03-25' '2013-03-17' '2013-03-24']
LOAD_TIME : ['2012-01-01 00:00:00' '2015-06-03 15:08:31' '2017-02-23 15:00:08'
 '2018-02-22 15:08:35' '2015-02-19 15:38:52' '2020-02-20 15:00:33'
 '2016-02-18 15:04:50' '2019-03-21 15:00:18' '2015-05-12 12:11:55'
 '2014-10-24 12:06:13' '2014-11-10 12:22:32' '2014-11-25 12:07:18'
 '2014-12-10 12:30:58' '2016-05-10 12:00:00' '2017-05-10 12:01:38'
 '2018-05-10 12:00:48' '2019-05-10 12:01:35' '2020-02-11 12:01:40'
 '2020-03-10 12:01:30' '2019-10-23 12:00:10' '2019-11-25 12:00:13'
 '2019-12-23 12:00:09' '2020-01-23 12:00:13' '2014-10-10 12:00:00'
 '2019-09-24 12:03:24' '2014-09-25 12:06:44' '2016-10-24 13:51:41'
 '2016-11-09 13:11:41' '2016-09-26 12:06:40' '2016-10-12 12:00:00'
 '2016-09-12 12:00:00' '2015-09-25 12:07:06' '2016-12-09 12:00:00'
 '2017-02-09 12:00:00' '2018-01-12 12:02:42' '2017-11-09 12:02:08'
 '2017-12-12 12:04:36' '2016-11-23 12:05:20' '2017-10-12 12:04:13'
 '2020-01-10 12:00:41' '2019-10-10 12:03:54' '2019-11-08 12:00:46'
 '2019-12-10 12:01:26' '2015-09-11 12:00:00' '2019-08-12 12:01:08'
 '2019-09-12 12:01:19' '2016-01-12 13:18:01' '2016-01-22 13:19:16'
 '2012-12-31 00:00:00' '2018-02-01 00:00:00' '2014-11-03 16:18:55'
 '2012-08-10 12:59:15' '2013-08-12 13:39:11' '2012-09-12 11:03:54'
 '2013-09-12 12:27:34' '2019-02-06 15:00:06' '2012-12-11 11:18:29'
 '2012-10-11 11:19:07' '2012-11-09 10:26:00' '2014-08-12 12:00:16'
 '2013-11-08 14:14:29' '2014-10-10 12:10:23' '2014-11-10 12:04:43'
 '2016-06-30 12:00:00' '2015-08-12 12:00:00' '2014-09-11 12:00:26'
 '2015-10-09 12:00:00' '2015-11-10 12:00:00' '2016-03-03 08:43:05'
 '2016-08-12 12:00:00' '2017-01-12 12:00:00' '2017-08-10 12:08:28'
 '2017-09-12 12:01:44' '2018-08-10 12:01:40' '2018-09-12 12:02:09'
 '2018-10-11 12:02:09' '2018-11-08 12:01:20' '2018-12-11 12:15:45'
 '2014-09-11 12:09:02' '2014-01-10 12:01:22' '2015-01-12 12:14:41'
 '2018-01-23 08:13:26' '2018-03-29 12:02:29' '2018-06-29 12:07:05'
 '2019-06-28 12:03:02' '2020-03-31 12:00:34' '2020-02-05 17:11:14'
 '2015-12-09 12:09:37' '2019-10-23 12:12:22' '2019-11-08 12:10:54'
 '2011-05-10 14:54:14' '2015-06-04 15:00:29' '2015-05-12 15:00:08'
 '2016-05-10 15:13:39' '2017-05-10 15:00:27' '2018-05-10 15:00:31'
 '2019-05-10 15:09:06' '2014-05-09 15:01:22' '2012-08-02 10:42:16'
 '2012-05-03 16:54:47' '2012-08-31 15:16:31' '2012-06-28 15:09:24'
 '2012-10-31 15:08:40' '2012-12-31 13:14:32' '2012-09-27 15:15:55'
 '2012-05-31 15:24:21' '2013-01-31 15:08:55' '2013-02-28 15:06:59'
 '2013-03-27 15:16:26' '2013-05-01 10:23:19' '2013-06-03 08:29:42'
 '2013-06-27 15:04:26' '2013-07-31 15:08:07' '2013-08-30 15:04:59'
 '2013-09-27 15:18:36' '2013-10-31 15:16:51' '2013-12-03 12:19:02'
 '2013-12-30 15:04:09' '2014-02-04 15:45:06' '2014-02-28 15:04:35'
 '2014-03-28 15:04:52' '2014-04-30 15:10:28' '2014-05-30 15:05:15'
 '2014-06-27 15:04:35' '2014-07-31 15:07:59' '2014-08-28 15:10:37'
 '2014-09-29 15:10:54' '2014-11-04 09:03:35' '2014-11-26 12:14:27'
 '2015-01-30 15:04:53' '2016-01-29 15:04:14' '2015-02-27 15:10:53'
 '2015-03-30 15:05:33' '2015-04-30 15:00:23' '2015-05-28 15:04:02'
 '2015-06-29 15:03:27' '2015-07-30 15:04:06' '2015-08-31 15:03:56'
 '2015-09-29 15:13:09' '2015-10-29 15:13:56' '2015-11-30 15:03:48'
 '2015-12-30 15:08:49' '2016-02-29 15:03:32' '2016-03-30 15:11:41'
 '2016-04-29 15:12:51' '2016-05-31 15:12:25' '2016-06-29 15:13:46'
 '2016-07-29 15:12:57' '2016-08-31 15:19:47' '2016-09-29 15:07:37'
 '2016-10-31 15:04:48' '2016-11-30 15:19:50' '2016-12-29 15:04:46'
 '2017-01-31 15:03:17' '2017-02-28 15:05:23' '2017-03-30 15:00:16'
 '2017-04-27 15:03:23' '2017-05-31 15:00:03' '2017-06-29 15:05:42'
 '2017-07-31 15:00:20' '2017-08-30 15:00:23' '2017-09-28 15:08:15'
 '2017-10-30 15:00:20' '2017-11-30 15:00:27' '2017-12-28 15:02:49'
 '2018-01-30 15:00:29' '2018-02-27 15:15:05' '2019-02-20 15:00:15'
 '2018-03-28 15:07:05' '2018-04-27 15:07:08' '2018-05-30 15:00:03'
 '2018-06-28 15:08:24' '2018-07-30 15:00:12' '2018-08-29 15:05:27'
 '2018-09-27 15:06:18' '2018-11-29 15:01:10' '2018-10-30 15:01:57'
 '2019-01-31 15:01:36' '2019-02-28 15:06:11' '2019-03-28 15:00:51'
 '2019-04-30 15:06:07' '2019-05-31 15:07:33' '2019-06-27 15:25:14'
 '2019-07-31 15:10:36' '2019-08-30 15:06:13' '2019-09-27 15:12:29'
 '2019-10-31 15:03:44' '2019-11-27 15:09:50' '2019-12-27 15:06:20'
 '2020-01-31 15:04:44' '2020-02-28 15:02:03' '2020-03-31 15:01:39'
 '2012-07-31 16:23:18' '2014-11-03 15:05:48' '2014-05-09 12:10:47'
 '2016-06-03 09:15:05' '2013-09-12 14:51:04' '2014-08-12 12:08:43'
 '2013-11-08 14:18:09' '2013-12-10 12:10:37' '2019-10-01 15:11:43'
 '2020-01-10 13:12:55' '2015-03-05 15:05:34' '2017-03-09 15:03:27'
 '2017-03-09 15:00:18' '2018-03-08 15:03:05' '2020-03-05 15:00:25'
 '2011-05-31 14:55:04' '2019-04-04 15:02:56' '2014-03-06 15:00:27'
 '2016-03-03 15:04:09' '2013-03-13 13:07:57' '2013-08-12 12:25:57'
 '2014-06-30 12:24:30' '2015-06-30 12:00:00' '2017-06-30 12:02:44'
 '2012-06-29 08:37:20' '2017-01-12 12:05:05' '2016-03-31 12:00:00'
 '2017-03-31 12:02:39' '2016-12-02 09:27:59' '2019-03-21 15:28:35'
 '2016-03-09 15:15:16' '2017-11-30 16:28:49' '2019-09-30 12:00:28'
 '2013-08-12 12:00:00' '2016-09-30 12:00:00' '2018-09-28 12:01:19'
 '2017-11-07 14:53:38' '1990-06-15 12:06:17' '2015-07-10 12:00:00'
 '2016-08-17 08:37:34' '2013-07-11 13:38:49' '2014-07-11 12:03:10'
 '2016-07-12 12:00:00' '2017-07-12 12:01:17' '2018-07-12 12:00:55'
 '2019-07-11 12:01:03' '2012-07-11 10:58:01' '2015-06-02 15:00:27'
 '2016-12-15 15:07:03' '2016-12-15 15:36:41' '2017-12-14 15:00:21'
 '2019-12-12 15:00:24' '2014-12-11 15:05:13' '2015-12-10 16:08:04'
 '2015-06-09 15:00:13' '2018-12-13 15:00:08' '2016-11-28 13:14:42'
 '2012-05-10 10:44:35' '2013-05-10 12:32:37' '2013-06-12 14:03:56'
 '2014-05-09 12:01:11' '2018-06-12 12:02:14' '2019-06-11 12:01:17'
 '2015-09-30 12:00:00' '2018-01-10 09:28:55' '2012-06-12 10:36:59'
 '2014-06-11 13:43:11' '2015-06-10 12:06:03' '2016-06-10 12:00:00'
 '2017-06-09 12:01:40' '2013-12-12 15:00:33' '2019-12-05 15:00:25'
 '2015-03-31 16:19:23' '2012-05-10 10:52:59' '2013-07-09 12:22:04'
 '2018-01-12 15:57:42' '2019-02-08 12:04:51' '2018-05-18 12:46:07'
 '2017-08-08 13:21:05' '2012-08-31 15:08:03' '2013-12-30 15:10:23'
 '2014-12-30 15:04:57' '2012-12-31 13:27:44' '2014-02-19 13:11:40'
 '2015-04-24 16:01:34' '2017-08-09 10:40:15' '2014-04-11 15:38:06'
 '2014-11-06 10:31:04' '2012-10-18 15:23:51' '2019-04-05 15:00:25'
 '2019-04-12 16:46:44' '2020-02-24 15:05:49' '2015-10-22 12:24:43'
 '2013-06-20 13:13:10' '2020-03-03 13:46:31' '2018-04-20 07:58:08'
 '2017-02-24 15:36:05' '2013-02-15 16:41:50' '2014-02-14 15:29:42'
 '2013-01-09 08:26:55' '2014-09-03 15:51:10' '2013-09-12 14:04:59'
 '2013-08-27 10:55:08' '2014-11-03 15:18:45' '2013-08-01 13:04:54'
 '2016-08-23 10:02:03' '2014-06-30 12:18:28' '2015-09-15 15:52:06'
 '2017-01-13 14:38:27' '2016-11-10 12:20:07' '2016-11-09 16:27:57'
 '2015-01-31 00:00:00' '2014-05-30 14:32:16' '2012-04-24 12:55:49'
 '2012-11-30 15:15:16' '2012-04-24 12:43:58' '2015-09-02 11:08:24'
 '2016-09-01 15:20:24' '2017-09-01 12:04:28' '2018-09-04 15:05:55'
 '2016-01-31 00:00:00' '2016-03-01 15:06:01' '2017-03-02 09:24:35'
 '2018-03-01 15:06:28' '2019-03-15 15:06:35' '2020-03-02 15:00:11'
 '2019-03-01 15:06:34' '2020-04-03 10:06:24' '2015-06-24 14:04:29'
 '2017-01-13 17:40:46' '2016-09-15 16:56:41' '2017-01-13 11:02:29'
 '2016-05-10 15:27:43' '2015-06-24 14:10:50' '2016-10-27 09:49:59'
 '2016-05-02 15:17:56' '2015-05-01 15:08:06' '2017-05-01 15:00:07'
 '2018-05-01 15:00:02' '2019-05-01 15:18:31' '2019-08-01 15:07:04'
 '2019-11-01 15:03:29' '2020-02-03 15:00:11' '2014-04-21 11:23:58'
 '2014-05-30 14:58:55' '2013-09-30 12:13:54' '2014-09-30 12:00:57'
 '2017-09-29 12:01:25' '2014-11-03 15:12:24' '2015-12-08 10:45:19'
 '2015-01-12 12:40:23' '2013-01-11 12:19:00' '2014-01-10 12:20:14'
 '2015-03-31 12:17:41' '2016-01-12 13:41:08' '2018-08-24 12:00:02'
 '2019-03-29 12:04:51' '2014-08-27 12:04:50' '2014-10-29 12:04:59'
 '2015-06-30 12:19:10' '2016-10-28 12:08:42' '2015-08-27 12:04:13'
 '2015-10-29 12:04:03' '2014-03-31 12:20:02' '2015-01-12 12:45:50'
 '2015-03-31 12:05:45' '2015-03-02 15:05:06' '2015-02-19 15:08:06'
 '2017-03-01 15:30:17' '2015-10-22 12:13:54' '2016-03-31 14:08:49'
 '2020-04-01 15:00:10' '2016-02-29 15:15:36' '2014-07-07 16:31:19'
 '2014-07-14 16:05:43' '2014-07-21 16:12:24' '2014-04-28 16:50:41'
 '2014-05-05 17:06:27' '2014-05-12 16:00:00' '2014-05-19 16:00:00'
 '2014-05-27 16:58:29' '2014-06-02 16:26:24' '2014-06-09 17:05:03'
 '2014-06-16 16:32:48' '2014-06-23 16:24:47' '2014-06-30 16:33:22'
 '2014-07-28 16:05:58' '2014-08-04 16:10:40' '2014-08-11 16:32:34'
 '2014-08-18 16:18:30' '2014-08-25 16:05:46' '2014-09-02 16:05:42'
 '2014-09-08 16:08:48' '2014-09-15 16:06:53' '2014-09-22 16:05:15'
 '2014-09-30 17:04:28' '2014-10-06 16:15:57' '2014-10-14 16:06:34'
 '2014-10-20 16:07:10' '2014-10-27 16:09:31' '2015-05-11 16:02:26'
 '2015-05-18 16:00:07' '2015-05-26 16:01:06' '2015-06-01 16:00:19'
 '2015-06-08 16:00:05' '2015-06-16 14:31:24' '2015-06-22 16:53:35'
 '2015-06-29 16:03:59' '2015-07-06 16:07:17' '2015-07-13 16:04:28'
 '2015-07-20 16:05:15' '2015-07-27 16:09:11' '2015-08-04 11:22:55'
 '2015-08-10 16:04:31' '2015-08-17 16:04:10' '2015-08-24 16:04:11'
 '2015-08-31 16:05:21' '2015-09-08 16:16:37' '2015-09-14 16:04:13'
 '2016-05-02 16:12:18' '2016-05-09 16:08:27' '2016-05-16 16:09:21'
 '2016-05-23 16:13:31' '2016-05-31 16:10:31' '2016-06-06 16:10:26'
 '2016-06-13 16:09:57' '2016-06-20 16:16:46' '2016-06-27 16:09:41'
 '2016-07-05 16:07:18' '2016-07-11 16:07:23' '2016-07-18 16:05:48'
 '2016-07-25 16:06:05' '2016-08-01 16:06:28' '2016-08-08 16:06:14'
 '2016-08-15 16:06:59' '2016-08-22 16:06:07' '2016-08-29 16:06:52'
 '2016-09-06 16:06:41' '2016-09-12 16:08:20' '2017-05-08 16:00:01'
 '2017-05-15 16:00:02' '2017-05-22 16:00:02' '2017-05-30 16:00:02'
 '2017-06-05 16:00:02' '2017-06-12 16:00:02' '2017-06-19 16:00:02'
 '2017-06-26 16:00:02' '2017-07-05 16:00:27' '2017-07-10 16:00:02'
 '2017-07-17 16:00:02' '2017-07-24 16:00:02' '2017-07-31 16:00:02'
 '2017-08-07 16:00:01' '2017-08-14 16:00:02' '2017-08-21 16:00:02'
 '2017-08-28 16:00:02' '2017-09-05 16:00:01' '2018-05-07 16:00:02'
 '2018-05-14 16:00:02' '2018-05-21 16:03:48' '2018-05-29 16:00:01'
 '2018-06-04 16:00:02' '2018-06-11 16:00:02' '2018-06-18 16:00:02'
 '2018-06-25 16:00:01' '2018-07-02 16:00:01' '2018-07-09 16:00:02'
 '2018-07-16 16:00:02' '2018-07-23 16:00:01' '2018-07-30 16:00:01'
 '2018-08-06 16:00:02' '2018-08-13 16:00:02' '2018-08-20 16:00:01'
 '2018-08-27 16:00:02' '2018-09-04 16:00:02' '2018-09-11 12:27:46'
 '2019-04-29 16:00:02' '2019-05-06 16:00:02' '2019-05-13 16:00:10'
 '2019-05-20 16:00:09' '2019-05-28 16:01:50' '2019-06-03 16:00:08'
 '2019-06-10 16:01:57' '2019-06-17 16:00:09' '2019-06-24 16:00:09'
 '2019-07-01 16:00:09' '2019-07-08 16:00:07' '2019-07-15 16:00:08'
 '2019-07-22 16:26:05' '2019-07-29 16:00:09' '2019-08-05 16:00:08'
 '2019-08-12 16:00:11' '2019-08-19 16:00:10' '2019-08-26 16:18:06'
 '2019-09-03 16:00:08' '2019-09-09 16:00:08' '2015-04-27 16:01:06'
 '2015-05-04 16:01:24' '2015-09-21 17:19:49' '2015-09-28 16:46:40'
 '2016-04-25 17:10:19' '2016-09-19 16:06:17' '2016-09-26 16:06:57'
 '2016-10-03 16:07:41' '2016-10-11 16:06:07' '2017-04-17 16:00:02'
 '2017-04-24 16:00:01' '2017-05-01 16:00:02' '2018-04-23 16:00:02'
 '2018-04-30 16:00:02' '2019-09-16 16:00:10' '2013-01-01 12:00:00'
 '2014-11-03 16:10:24' '2015-10-05 16:04:54' '2015-10-13 16:04:34'
 '2015-10-19 16:05:23' '2015-10-26 16:04:54' '2015-11-02 16:05:46'
 '2016-03-23 16:01:25' '2016-10-17 16:06:33' '2016-10-24 16:06:05'
 '2017-09-11 16:00:01' '2017-09-18 16:00:02' '2017-09-25 16:00:01'
 '2017-10-02 16:00:02' '2017-10-10 16:00:02' '2017-10-16 16:00:02'
 '2017-10-23 16:00:02' '2017-10-30 16:00:02' '2017-11-06 16:01:05'
 '2018-09-17 16:00:08' '2018-09-24 16:00:08' '2018-10-01 16:01:52'
 '2018-10-09 16:00:09' '2018-10-15 16:00:07' '2018-10-22 16:00:06'
 '2018-10-29 16:00:07' '2019-09-23 16:00:07' '2019-09-30 16:00:08'
 '2019-10-07 16:00:07' '2019-10-15 16:00:12' '2019-10-21 16:00:09'
 '2019-10-28 16:00:10' '2019-11-04 16:00:07' '2014-04-14 17:05:01'
 '2014-04-21 16:23:48' '2015-04-20 16:17:59' '2019-04-15 16:00:04'
 '2019-04-22 16:00:01' '2020-04-27 16:00:09' '2016-10-31 16:07:01'
 '2017-11-13 16:00:02' '2019-11-12 16:00:10' '2016-04-18 16:10:41'
 '2017-04-03 16:31:34' '2017-04-10 16:00:02' '2018-04-09 16:00:01'
 '2018-04-16 16:00:02' '2019-04-08 16:00:01' '2020-04-06 16:32:50'
 '2020-04-13 16:00:09' '2020-04-20 16:00:19' '2014-11-10 16:05:58'
 '2014-11-17 16:07:36' '2016-11-07 16:05:36' '2016-11-14 16:06:34'
 '2019-11-18 16:00:11' '2019-11-25 16:00:12' '2018-11-05 16:00:09'
 '2018-11-13 16:00:09' '2018-11-19 16:00:07' '2015-11-16 16:05:40'
 '2017-11-20 16:00:02' '2016-11-21 16:05:27' '2019-12-02 16:00:11'
 '2019-12-09 16:00:12' '2018-11-26 16:00:08' '2015-04-06 16:06:13'
 '2015-10-20 13:08:20' '2014-11-24 16:05:59' '2015-11-23 16:08:35'
 '2015-11-30 16:05:23' '2016-06-20 17:22:21' '2015-04-13 16:46:23'
 '2016-04-11 16:06:23' '2018-04-02 16:00:02' '2019-04-01 16:00:01'
 '2016-03-28 16:05:44' '2016-04-05 16:08:20' '2014-04-08 16:11:03'
 '2017-03-27 16:00:02' '2020-03-30 16:00:10' '2019-03-25 16:00:02'
 '2015-03-30 16:06:19' '2018-03-26 16:00:02' '2017-11-27 16:00:01'
 '2016-11-28 16:07:02' '2014-12-02 12:55:12' '2015-11-13 17:05:08'
 '2014-12-08 16:05:04' '2014-12-15 16:31:36' '2015-12-07 16:05:07'
 '2015-03-16 16:05:01' '2015-03-23 16:06:46' '2018-03-12 16:00:01'
 '2018-03-19 16:00:01' '2019-03-11 16:00:02' '2019-03-18 16:00:02'
 '2020-03-16 16:55:24' '2020-03-23 16:00:10' '2017-03-20 16:00:03'
 '2015-02-23 16:10:32' '2015-03-02 16:22:38' '2015-03-09 16:05:17'
 '2016-03-07 16:04:35' '2016-03-14 16:05:41' '2016-03-21 16:05:05'
 '2017-03-06 16:00:02' '2017-03-13 16:00:03' '2018-03-05 16:00:02'
 '2019-03-04 16:00:02' '2020-03-02 16:00:12' '2020-03-09 16:00:10'
 '2019-04-26 15:48:56' '2018-01-02 16:00:42' '2016-05-23 16:59:39'
 '2014-04-09 13:44:25' '2018-12-03 16:01:42' '2015-01-05 16:30:03'
 '2014-04-15 10:35:01' '2016-09-07 15:42:48' '2014-10-28 16:59:40'
 '2015-02-02 16:05:17' '2016-04-01 20:35:15' '2014-12-22 18:42:02'
 '2015-01-13 11:56:39' '2015-01-20 16:05:09' '2015-01-26 16:07:13'
 '2015-02-09 16:05:09' '2015-02-17 16:05:20' '2015-12-14 16:04:45'
 '2015-12-21 16:04:30' '2015-12-28 16:41:10' '2016-01-04 16:05:38'
 '2016-01-11 16:05:44' '2016-01-19 16:04:58' '2016-01-25 16:04:03'
 '2016-02-01 16:04:18' '2016-02-08 16:05:01' '2016-02-16 16:05:17'
 '2016-02-22 16:04:24' '2016-02-29 16:04:34' '2016-12-05 16:05:10'
 '2016-12-12 16:05:06' '2016-12-19 16:04:22' '2016-12-27 16:03:55'
 '2017-01-03 16:04:52' '2017-01-09 16:04:40' '2017-12-04 16:00:02'
 '2017-12-11 16:00:02' '2017-12-18 16:00:02' '2017-12-26 16:00:09'
 '2018-01-08 16:00:01' '2018-01-16 16:01:13' '2018-01-23 16:00:22'
 '2018-01-29 16:00:02' '2019-02-25 16:00:02' '2017-01-30 16:03:28'
 '2017-02-27 16:00:02' '2018-02-26 19:22:22' '2016-09-13 10:53:17'
 '2019-12-23 16:10:21' '2016-10-25 15:54:01' '2017-02-06 16:03:24'
 '2017-02-13 16:13:20' '2017-02-21 16:00:02' '2019-02-04 16:00:08'
 '2019-02-11 16:00:08' '2019-02-19 16:00:02' '2020-01-27 16:02:26'
 '2020-02-03 16:40:09' '2020-02-10 16:00:09' '2020-02-18 16:03:07'
 '2020-02-24 16:08:30' '2014-12-30 13:37:10' '2020-02-06 09:57:07'
 '2014-09-23 17:15:16' '2016-05-03 17:51:51' '2014-09-29 16:53:20'
 '2017-09-14 17:18:56' '2014-05-05 17:11:10' '2020-02-18 16:35:34'
 '2017-09-08 11:51:12' '2014-08-05 15:44:32' '2015-04-01 14:18:00'
 '2018-12-10 16:00:08' '2018-12-17 16:00:07' '2017-01-23 16:07:03'
 '2017-01-17 16:04:29' '2014-08-05 15:51:12' '2014-06-17 16:24:49'
 '2017-08-01 15:00:29' '2017-11-01 15:00:02' '2018-02-01 15:20:16'
 '2017-03-01 15:25:20' '2018-03-29 15:52:38' '2016-05-10 13:48:28'
 '2019-05-13 11:41:31' '2015-10-27 15:23:10' '2016-07-12 13:34:39'
 '2017-03-10 15:08:33' '2018-03-09 15:15:30' '2019-03-14 15:42:21'
 '2020-03-12 15:00:10' '2018-05-24 15:21:40']

VALUE : ['3,500' '6,800' '3,000' ... '1,374,134' '165,865' 913]
CV_% : [nan '20.6' '32.7' ... '99.0' '95.3' '99.2']

In [135]:
#area planted, area harvested, yield and production by crop

category = ['AREA PLANTED','AREA HARVESTED','PRODUCTION','YIELD']
filter_crops.STATISTICCAT_DESC.isin(category)

filter_category= filter_crops[filter_crops.STATISTICCAT_DESC.isin(category)]
filter_category.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [136]:
#only county level data

region = ['COUNTY']
filter_category.AGG_LEVEL_DESC.isin(region)

filter_region= filter_category[filter_category.AGG_LEVEL_DESC.isin(region)]
filter_region.head()

,SOURCE_DESC,SECTOR_DESC,GROUP_DESC,COMMODITY_DESC,CLASS_DESC,PRODN_PRACTICE_DESC,UTIL_PRACTICE_DESC,STATISTICCAT_DESC,UNIT_DESC,SHORT_DESC,...,LOCATION_DESC,YEAR,FREQ_DESC,BEGIN_CODE,END_CODE,REFERENCE_PERIOD_DESC,WEEK_ENDING,LOAD_TIME,VALUE,CV_%
706737,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2002,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"3,500",NaN
706738,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1997,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"6,800",NaN
706741,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",2010,ANNUAL,0,0,YEAR,NaN,2015-06-03 15:08:31,"3,000",NaN
706742,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1995,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN
706743,SURVEY,CROPS,FIELD CROPS,CORN,ALL CLASSES,IRRIGATED,ALL UTILIZATION PRACTICES,AREA PLANTED,ACRES,"CORN, IRRIGATED - ACRES PLANTED",...,"COLORADO, NORTHEAST, BOULDER",1996,ANNUAL,0,0,YEAR,NaN,2012-01-01 00:00:00,"7,000",NaN

In [137]:
#cleaning specific columns and rows to ensure the count of rows are same
filter_region.shape

(1870368, 39)

### Selecting, Dropping, Renaming and Sorting columns from pandas dataframe

In [138]:
# decision of not considering this column as a part of the dataset
# total row size =1870368
# DOMAINCAT_DESC= "not specified" = 1705838
# 91% of column values are not specified; dropped this column

output = filter_region.drop_duplicates()
output.groupby('DOMAINCAT_DESC').size()

DOMAINCAT_DESC
AREA HARVESTED: (1,000 OR MORE ACRES)      15792
AREA HARVESTED: (1.0 TO 24.9 ACRES)        31839
AREA HARVESTED: (100 TO 249 ACRES)         31513
AREA HARVESTED: (25.0 TO 99.9 ACRES)       34269
AREA HARVESTED: (250 TO 499 ACRES)         25483
AREA HARVESTED: (500 OR MORE ACRES)         5117
AREA HARVESTED: (500 TO 999 ACRES)         20517
NOT SPECIFIED                            1705838
dtype: int64

In [139]:
watershed = filter_region.drop_duplicates()
watershed.groupby('WATERSHED_DESC').size()

Series([], dtype: int64)

### Drop columns 

1. SECTOR_DESC=: single category in column
2. GROUP_DESC=: single category in column
3. DOMAINCAT_DESC=: 79% of column values are not specified; dropped this column
4. STATE_ANSI=: keeping the name of the state for cleaner dataset
5. STATE_FIPS_CODE=:keeping the name of the state for cleaner dataset
6. STATE_ALPHA=: Keeping the state name only
7. CONGR_DISTRICT_CODE=: Nan
8. WATERSHED_DESC=: keeping county data, taking column off the dataframe; different geographic location
9. WATERSHED_CODE=: keeping county data, taking column off the dataframe; different geographic location
10. COUNTRY_CODE=: single category in column
11. BEGIN_CODE=: not significant for visualization
12. END_CODE=: not significant for visualization
13. LOAD_TIME=:  metadata about the dataset
14. REFERENCE_PERIOD_DESC
15. WEEK_ENDING
16. SOURCE_DESC=: aggregating data for both census and survey
17. ASD_CODE=:agricultural statistics district, different geographic location, restraining to county
18. ZIP_5=: different geographic location

In [140]:
filter_region=filter_region.drop(columns=['SECTOR_DESC','GROUP_DESC','DOMAINCAT_DESC','STATE_ANSI',
                              'STATE_FIPS_CODE','STATE_ALPHA','CONGR_DISTRICT_CODE','WATERSHED_DESC',
                              'WATERSHED_CODE','COUNTRY_CODE','BEGIN_CODE','END_CODE','LOAD_TIME','REFERENCE_PERIOD_DESC',
                            'WEEK_ENDING','SOURCE_DESC','ASD_CODE','ZIP_5'])

In [141]:
filter_region.columns

Index(['COMMODITY_DESC', 'CLASS_DESC', 'PRODN_PRACTICE_DESC',
       'UTIL_PRACTICE_DESC', 'STATISTICCAT_DESC', 'UNIT_DESC', 'SHORT_DESC',
       'DOMAIN_DESC', 'AGG_LEVEL_DESC', 'STATE_NAME', 'ASD_DESC',
       'COUNTY_ANSI', 'COUNTY_CODE', 'COUNTY_NAME', 'REGION_DESC',
       'COUNTRY_NAME', 'LOCATION_DESC', 'YEAR', 'FREQ_DESC', 'VALUE', 'CV_%'],
      dtype='object')

In [142]:
# renaming column names
filter_region.rename(columns={'COMMODITY_DESC': 'FIELD_CROPS',
                                'CLASS_DESC': 'CROP_TYPE',
                                'PRODN_PRACTICE_DESC':'PRODN_PRACTICE',
                                'UTIL_PRACTICE_DESC':'UTILIZATION',
                                'STATISTICCAT_DESC':'CATEGORY',
                                'UNIT_DESC':'UNIT',
                                'SHORT_DESC':'ACTIVITY',
                                'DOMAIN_DESC':'DOMAIN',
                                'AGG_LEVEL_DESC':'GEOGRAPHIC_LEVEL',
                                'ASD_DESC':'AGRICULTURAL_DISTT',
                                'FREQ_DESC':'FREQUENCY',
                                'VALUE':'UNIT_VALUE',
                                'CV_%':'CV%'
                                },inplace=True)

In [143]:
filter_region.columns

Index(['FIELD_CROPS', 'CROP_TYPE', 'PRODN_PRACTICE', 'UTILIZATION', 'CATEGORY',
       'UNIT', 'ACTIVITY', 'DOMAIN', 'GEOGRAPHIC_LEVEL', 'STATE_NAME',
       'AGRICULTURAL_DISTT', 'COUNTY_ANSI', 'COUNTY_CODE', 'COUNTY_NAME',
       'REGION_DESC', 'COUNTRY_NAME', 'LOCATION_DESC', 'YEAR', 'FREQUENCY',
       'UNIT_VALUE', 'CV%'],
      dtype='object')

### restructure dataframe

In [144]:
filter_region=filter_region[['YEAR','GEOGRAPHIC_LEVEL','COUNTRY_NAME','STATE_NAME','AGRICULTURAL_DISTT','REGION_DESC','LOCATION_DESC',
                            'COUNTY_ANSI', 'COUNTY_CODE','COUNTY_NAME', 'FIELD_CROPS', 'CROP_TYPE', 'PRODN_PRACTICE', 'UTILIZATION', 'CATEGORY',
                            'ACTIVITY', 'DOMAIN', 'FREQUENCY','UNIT','UNIT_VALUE', 'CV%']]

In [145]:
#sorted dataframe based on Year values
sorted_data=filter_region.sort_values(['YEAR'])

In [146]:
sorted_data.shape

(1870368, 21)

In [147]:
sorted_data.head()

,YEAR,GEOGRAPHIC_LEVEL,COUNTRY_NAME,STATE_NAME,AGRICULTURAL_DISTT,REGION_DESC,LOCATION_DESC,COUNTY_ANSI,COUNTY_CODE,COUNTY_NAME,...,CROP_TYPE,PRODN_PRACTICE,UTILIZATION,CATEGORY,ACTIVITY,DOMAIN,FREQUENCY,UNIT,UNIT_VALUE,CV%
14202660,1990,COUNTY,UNITED STATES,PENNSYLVANIA,SOUTHEASTERN,NaN,"PENNSYLVANIA, SOUTHEASTERN, LEBANON",75.0,75.0,LEBANON,...,ALL CLASSES,ALL PRODUCTION PRACTICES,SILAGE,AREA HARVESTED,"CORN, SILAGE - ACRES HARVESTED",TOTAL,ANNUAL,ACRES,"13,300",NaN
4895068,1990,COUNTY,UNITED STATES,OKLAHOMA,SOUTHWEST,NaN,"OKLAHOMA, SOUTHWEST, KIOWA",75.0,75.0,KIOWA,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"274,500",NaN
7759973,1990,COUNTY,UNITED STATES,TEXAS,EAST TEXAS NORTH,NaN,"TEXAS, EAST TEXAS NORTH, RED RIVER",387.0,387.0,RED RIVER,...,UPLAND,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,YIELD,"COTTON, UPLAND - YIELD, MEASURED IN LB / ACRE",TOTAL,ANNUAL,LB / ACRE,381,NaN
4895092,1990,COUNTY,UNITED STATES,OKLAHOMA,SOUTHWEST,NaN,"OKLAHOMA, SOUTHWEST, TILLMAN",141.0,141.0,TILLMAN,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"173,500",NaN
4895116,1990,COUNTY,UNITED STATES,OKLAHOMA,NORTH CENTRAL,NaN,"OKLAHOMA, NORTH CENTRAL, ALFALFA",3.0,3.0,ALFALFA,...,ALL CLASSES,"NON-IRRIGATED, CONTINUOUS CROP",ALL UTILIZATION PRACTICES,AREA PLANTED,"WHEAT, NON-IRRIGATED, CONTINUOUS CROP - ACRES ...",TOTAL,ANNUAL,ACRES,"309,500",NaN

In [148]:
sorted_data.tail()

,YEAR,GEOGRAPHIC_LEVEL,COUNTRY_NAME,STATE_NAME,AGRICULTURAL_DISTT,REGION_DESC,LOCATION_DESC,COUNTY_ANSI,COUNTY_CODE,COUNTY_NAME,...,CROP_TYPE,PRODN_PRACTICE,UTILIZATION,CATEGORY,ACTIVITY,DOMAIN,FREQUENCY,UNIT,UNIT_VALUE,CV%
3148966,2019,COUNTY,UNITED STATES,ALABAMA,MOUNTAINS & EASTERN VALLEY,NaN,"ALABAMA, MOUNTAINS & EASTERN VALLEY, CHEROKEE",19.0,19.0,CHEROKEE,...,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,PRODUCTION,"SOYBEANS - PRODUCTION, MEASURED IN BU",TOTAL,ANNUAL,BU,"104,000",NaN
7193164,2019,COUNTY,UNITED STATES,NORTH CAROLINA,CENTRAL COASTAL,NaN,"NORTH CAROLINA, CENTRAL COASTAL, PITT",147.0,147.0,PITT,...,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,AREA PLANTED,CORN - ACRES PLANTED,TOTAL,ANNUAL,ACRES,"24,000",NaN
3149020,2019,COUNTY,UNITED STATES,ALABAMA,MOUNTAINS & EASTERN VALLEY,NaN,"ALABAMA, MOUNTAINS & EASTERN VALLEY, CULLMAN",43.0,43.0,CULLMAN,...,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,PRODUCTION,"SOYBEANS - PRODUCTION, MEASURED IN BU",TOTAL,ANNUAL,BU,"362,000",NaN
3148689,2019,COUNTY,UNITED STATES,ALABAMA,NORTHERN VALLEY,NaN,"ALABAMA, NORTHERN VALLEY, LIMESTONE",83.0,83.0,LIMESTONE,...,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,PRODUCTION,"SOYBEANS - PRODUCTION, MEASURED IN BU",TOTAL,ANNUAL,BU,"1,737,000",NaN
8141626,2019,COUNTY,UNITED STATES,MARYLAND,LOWER EASTERN SHORE,NaN,"MARYLAND, LOWER EASTERN SHORE, SOMERSET",39.0,39.0,SOMERSET,...,ALL CLASSES,ALL PRODUCTION PRACTICES,ALL UTILIZATION PRACTICES,YIELD,"SOYBEANS - YIELD, MEASURED IN BU / ACRE",TOTAL,ANNUAL,BU / ACRE,45.5,NaN

In [149]:
# exporting cleaned data to csv
now = datetime.now()
current_time=now.strftime("%m-%d-%Y,%H-%M-%S")

sorted_data.to_csv('data_exports/cleaned_data'+current_time+'.csv')

--------- this is the end of the file ----------------